<ion-header no-border no-line>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="!showContent">
      <ion-item *ngFor="let item of fakeArr">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item></skeleton-item>
        <skeleton-item height="12px" width="67%"></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="showContent">
      <ion-item-sliding *ngFor="let user of usersArr">
        <ion-item>
          <ion-avatar item-start>
            <!-- <img [src]="user.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
            <img-loader [src]="user.avatar?.thumbImage | linkHttp" fallback="./assets/img/thumb.jpg" useImg>
            </img-loader>
          </ion-avatar>
          <h2>{{user.details?.business}}</h2>
          <p>{{user.details.contact}}</p>
          <p>{{user.details.type | uppercase}}</p>
          <button ion-button item-end *ngIf="mode == 'followers' && !user.details?.connected && business.type != 1"
            color="primary" (click)="followBusiness(user,$event)">
            <ion-icon name="ios-add"></ion-icon>&nbsp; Connect
          </button>
          <button ion-button outline item-end *ngIf="mode == 'followers' && user.details?.connected" color="primary"
            (click)="unfollowBusiness(user,$event)">
            Connected
          </button>
          <button ion-button outline item-end *ngIf="mode == 'following'" color="primary"
            (click)="unfollowBusiness(user,$event)">
            Connected
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light" (click)="editConnection(user,$event)"
            *ngIf="user.details?.type == 'distributor' && mode=='following' && business.type == 1">
            <ion-icon name="ios-create-outline"></ion-icon>
            Edit
          </button>
          <button ion-button color="danger" (click)="unfollowBusiness(user,$event)"
            *ngIf="mode=='following' && business.type == 1">
            <ion-icon name="ios-trash-outline"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-grid>
</ion-content>
