<ion-header>
  <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

</ion-content>
