<ion-list>
  <ion-item *ngIf="!showRetry">
    <div class="progress-bar">
      <div class="progress" [style.width]="(percentDone || 0)+'%'"></div>
    </div>
    <ion-icon name="ios-more" item-end (click)="shoutAction(_shout.shout,_shout.link)"></ion-icon>
  </ion-item>
  <ion-item *ngIf="showRetry">
    <ion-icon color="primary" name="ios-refresh-circle-outline" item-start
      (click)="createPost(_shout.shout,_shout.link)" *ngIf="isRetry"></ion-icon>
    <ion-icon color="primary" name="ios-trash-outline" item-start (click)="deleteCacheShout()" *ngIf="isLimit">
    </ion-icon>
    <p ion-text color="primary" *ngIf="isRetry">{{retryMsg}}</p>
    <p ion-text color="danger" *ngIf="isLimit">{{retryMsg}}</p>
    <div class="progress-bar" *ngIf="!isLimit && !isRetry">
      <div class="progress" style="width: 0%;"></div>
    </div>
    <ion-icon name="ios-more" item-end (click)="shoutAction(_shout.shout,_shout.link)"></ion-icon>
  </ion-item>
  <ion-item no-lines class="new-post">
    <ion-avatar item-start>
      <img-loader [src]="business.avatar?.previewImage| linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-avatar>
    <h2><b>{{business.business}}</b></h2>
    <p><small>{{_shout.timestamp | timesago}}</small></p>
    <ion-icon name="ios-more" item-end color="muted"></ion-icon>
  </ion-item>
  <ion-item no-lines text-wrap>
    <p><small>{{business.business}} has posted a new Shout!</small></p>
  </ion-item>
  <div class="new-post">
    <ion-card class="card-shout">
      <ion-card-content text-center text-wrap>
        <p style="font-size: 2rem;"><b>{{_shout.shout}}</b></p>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <ion-item no-lines class="new-post">
    <ion-card class="card-shout">
      <ion-card-content padding text-center text-wrap>
        <p style="font-size: 2rem;"><b>{{_shout.shout}}</b></p>
      </ion-card-content>
    </ion-card>
  </ion-item> -->
</ion-list>
