card-create-post {
  .card-shout {
    // background: rgba(52, 73, 94, .9);
    background: #222;
    margin: 0;
    width: 100%;
    border-radius: 0px;

    ion-card-content {
      padding: 32px;

      p {
        color: #fff !important;
      }
    }
  }

  .item ion-thumbnail ion-img,
  .item ion-thumbnail img {
    width: 100px;
    height: 100px;
  }


  .progress-bar {
    height: 6px;
    width: calc(100% - 65px);
    position: absolute;
    overflow: hidden;
    background: #e4e4e4;

    .progress {
      background: map_get($colors, 'primary');
      height: 100%;
    }
  }

  .new-post {
    opacity: 0.5;
  }
}
