<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Business User</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="inputForm">
      <ion-list>
        <div *ngIf="action == 'create'">
          <ion-item no-lines>
            <ion-label>Email</ion-label>
          </ion-item>
          <ion-item [class.invalid]="submitted && f.role.errors">
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="help-block" text-wrap>
            <div *ngIf="f.email.errors.required">
              <ion-icon name="md-alert" item-start color="warning"></ion-icon> User email is required.
            </div>
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Role</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.role.errors">
          <ion-select formControlName="role">
            <ion-option value="1">Administrator</ion-option>
            <ion-option value="2">Staff</ion-option>
            <ion-option value="3">Trade</ion-option>
            <ion-option value="4">Media</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.role.errors" class="help-block" text-wrap>
          <div *ngIf="f.role.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> User Role is required.
          </div>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="save()">Save</button>
  </ion-toolbar>
</ion-footer> -->
