page-business-user-detail {
  #profile-bg {
    position: fixed;
    left: 0; //top: 44px;
    width: 100%;
    height: 150px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;

    text-align: center;
  }

  #content {
    position: relative;
    margin-top: 150px;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 230px;
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 21px;
  }
  #profile-description {
    font-size: 15px;
    color: #888;
  }
  #profile-description a {
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }

  ion-card.info {
    padding-top: 10px;
    border: none !important;
    box-shadow: none !important;
    position: relative;
    text-align: center; // border-bottom: 2px solid #ddd;
    .card-title {
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #757373;
    }
    .card-subtitle {
      font-size: 1.0em;
      top: 52%;
      width: 100%;
      color: #757373;
    }
    img {
      margin: 0 auto;
      height: auto; // width: 70px;
      padding-bottom: 30px;
    }
    ion-label {
      margin: 0 !important;
    }
    .caption {
      font-size: 1.5rem;
      font-weight: 400;
      color: #488aff;
    }
  }
}
