<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editUser()" *ngIf="business.type == 1 && business.role == 1">
        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteUser()" *ngIf="business.type == 1 && business.role == 1">
        <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed no-padding>
    <!--
    ========================================================================
    ========================================================================
    ========================================================================
     -->
    <div *ngIf="action != 'staff'">
      <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + imageUrl +')'}"></div>
      <!-- <div id="profile-bg" style="background-color:#5FB3DC"></div> -->
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" [src]="user.gravatar" (error)="errorAvatarHandler($event)">
          <h3 id="profile-name">{{user.name}}</h3>
          <p id="profile-description" *ngIf="user.role">{{user.role}}</p>
          <p id="profile-description" *ngIf="user.title">{{user.title}}</p>
          <p id="profile-description" *ngIf="user.email">{{user.email}}</p>
          <p id="profile-description" *ngIf="user.phone">{{user.phone}}</p>
        </div>
      </div>
    </div>
    <!--
    ========================================================================
    ========================================================================
    ========================================================================
     -->
    <div *ngIf="action == 'staff'">
      <ion-card class="info">
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Name
              </ion-col>
              <ion-col col-8 text-wrap>
                <span class="caption">{{user.name}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="user.role">
            <ion-row>
              <ion-col col-4>
                Role
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{user.role | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="user.title">
            <ion-row>
              <ion-col col-4>
                Title
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{user.title | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="user.email">
            <ion-row>
              <ion-col col-4>
                Email
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{user.email }}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="user.phone">
            <ion-row>
              <ion-col col-4>
                Phone
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{user.phone}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
