page-login {
  ion-content {
    background: url('../assets/login.png') no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .btnRegister {
    text-transform: uppercase;
  }

  .btnLogin {
    text-transform: uppercase;
  }

  .loginContent {
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: center;
    height: 100%;

    .loginLogo {
      width: 35vw;
      height: auto;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .roundImage {
      padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
    }
  }

  .list-ios[inset] {
    margin: 0px !important;
  }

  ion-list {
    margin: 0 !important;
  }

  .list-ios>.item-block:first-child {
    border-top: none !important;
  }

  ion-item {
    font-size: 16px;
    font-weight: regular;
    background: transparent !important;
    box-shadow: none !important;
    margin-bottom: 10px !important;
    border-bottom: solid 1.3px #fff !important;
    padding-left: 0 !important;

    ion-icon {
      color: #fff !important;
    }

    .item-inner {
      border-bottom: none !important;
    }

    .text-input {
      color: #fff !important;
    }
  }

  ion-input {
     ::-webkit-input-placeholder {
      text-align: left;
      color: #fff !important;
    }

     :-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
      color: #fff !important;
    }

     ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
      color: #fff !important;
    }

     :-ms-input-placeholder {
      text-align: left;
      color: #fff !important;
    }
  }
  /* ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  } */
  .signup-col {
    padding-left: 50px;
    padding-right: 50px;
  }

  .buttonLogin {
    font-weight: 600 !important;
  }

  .button-narnoo-login {
    color: #488aff !important;
    background-color: #fff !important;
    font-weight: 600;
  }

  .social {
    .col {
      padding: 0 !important;
    }
    [col-6] {
      padding: 0 !important;
    }
  }

  .fancy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .fancy:before,
  .fancy:after {
    content: '';
    width: 70px;
    height: 2px;
    background: #fff;
    margin: 0 10px;
  }
}
