<ion-content class="narnoo">
  <ion-grid fixed>
    <div class="loginContent">
      <img class="loginLogo" src="./assets/img/logo.png">
      <form>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon ios="ios-contact-outline" md="ios-contact-outline" item-left></ion-icon>
                <ion-input type="email" placeholder="Username / Email" name="email" [(ngModel)]="users.username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon ios="ios-lock-outline" md="ios-lock-outline" item-left></ion-icon>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="users.password"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div padding>
          <button ion-button block round class="button-narnoo-login" (click)="loginApp()">Sign In</button>
          <button ion-button icon-left color="light" clear block (click)="forgotPassword()">
            <div>Forgot Password?</div>
          </button>
        </div>
      </form>
      <div tex-center center>
        <p class="fancy"><span>or connect with</span></p>
      </div>
      <ion-row class="social">
        <ion-col col-6>
          <button ion-button full icon-left color="facebook" block (click)="loginWithFacebook()" style="border-top-left-radius: 64px;border-bottom-left-radius: 64px;">
            <ion-icon name="logo-facebook" item-start></ion-icon>
            Facebook
          </button>
        </ion-col>
        <ion-col col-6>
          <!-- <button ion-button full icon-left color="google" block disabled="true" style="border-top-right-radius: 64px;border-bottom-right-radius: 64px;"> -->
          <button ion-button full icon-left color="google" block (click)="loginWithGoogle()" style="border-top-right-radius: 64px;border-bottom-right-radius: 64px;">
            <ion-icon name="logo-google" item-start></ion-icon>
            Google
          </button>
        </ion-col>
      </ion-row>
      <!-- <div padding>
      <button ion-button icon-left color="facebook" block (click)="loginWithFacebook()">
        Login with Facebook
      </button>
      <button ion-button icon-left color="google" block  disabled="true">
        Login with Google
      </button>
    </div> -->
    </div>
  </ion-grid>
</ion-content>
<ion-footer no-border *ngIf="showFooter">
  <ion-toolbar color="signup">
    <button ion-button full color="signup" class="btnRegister" (click)="registerUser()">Register Account</button>
  </ion-toolbar>
</ion-footer>
