page-notification-details {
  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;

  .card-shout {
    background: rgba(52, 73, 94, .9);

    ion-card-content {
      p {
        color: #fff !important;
      }
    }
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
  }

  .input-wrap {
    padding: 0 5px;

    ion-textarea {
      position: static;
    }

    ion-col.col {
      padding: 0;
    }

    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }

    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

}
