<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>
      <span *ngIf="status =='received'">
        <span *ngIf="notification.action == 'new'">{{notification.from?.business}}</span>
        <span *ngIf="notification.action == 'earlier'">{{notification.from?.business?.business}}</span>
      </span>
      <span *ngIf="status == 'sent'"> {{notification.to?.business?.business}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-list>
    <ion-item no-lines text-center text-wrap center color="energized" *ngIf="!notification.acknowledged && status =='received'">
      <p>Please approve or reject this notification first.</p>
    </ion-item>
    <div *ngIf="business.role == 1">
      <ion-item *ngIf="!notification.acknowledged && status =='received'">
        <ion-row>
          <ion-col>
            <button ion-button block small outline (click)="approvedNotification()">Approved</button>
          </ion-col>
          <ion-col>
            <button ion-button block small outline color="danger" (click)="rejectNotification()">Reject</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="notification.acknowledged && status =='received'">
        <ion-row>
          <ion-col>
            <button ion-button block outline (click)="showStatus()">Update Status: <b>{{notifStatus}}</b></button>
          </ion-col>
          <ion-col col-2>
            <button ion-button block outline color="danger" (click)="deleteNotification()">
              <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <!--
      ========================================================================
      ========================================================================
      ========================================================================
     -->
    <ion-item no-lines text-center text-wrap center color="energized" *ngIf="!notification.status && status == 'sent'">
      <p><b>PENDING</b></p>
    </ion-item>
    <ion-item no-lines text-center text-wrap center color="secondary" *ngIf="notification.status && status == 'sent'">
      <p><b>APPROVED</b></p>
    </ion-item>
    <!--
      ========================================================================
      ========================================================================
      ========================================================================
     -->
    <ion-item *ngIf="status == 'received'">
      <ion-avatar item-start *ngIf="notification.action == 'new'">
        <img [src]="notification.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
      </ion-avatar>
      <ion-avatar item-start *ngIf="notification.action == 'earlier'">
        <img [src]="notification.from?.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
      </ion-avatar>
      <h2 *ngIf="notification.action == 'new'"><b>FROM: {{notification.from?.business}}</b></h2>
      <h2 *ngIf="notification.action == 'earlier'"><b>FROM: {{notification.from?.business?.business}}</b></h2>
      <p>{{notification.type}}</p>
      <p><small>{{notification.dateCreated | timesago}}</small></p>
    </ion-item>
    <!--
      ========================================================================
      ========================================================================
      ========================================================================
     -->
    <ion-item *ngIf="status == 'sent'">
      <ion-avatar item-start>
        <img [src]="notification.to?.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
      </ion-avatar>
      <h2><b>TO: {{notification.to?.business?.business}}</b></h2>
      <p>{{notification.type}}</p>
      <p><small>{{notification.dateCreated | timesago}}</small></p>
    </ion-item>
    <div text-wrap text-center padding>
      <p *ngIf="status == 'received'">
        {{notification.type}} from
        <span *ngIf="notification.action == 'new'">{{notification.from?.business}}</span>
        <span *ngIf="notification.action == 'earlier'">{{notification.from?.business?.business}}</span>
      </p>
      <p *ngIf="status == 'sent'">{{notification.type}} to {{notification.to?.business?.business}}</p>
    </div>
    <!--
      ========================================================================
      ========================================================================
      ========================================================================
     -->
    <div *ngIf="status == 'received'">
      <div *ngIf="notification.fromMessage">
        <ion-item-divider color="light">
          <b ion-text color="primary">Message From {{notification.from?.business?.business}}</b>
        </ion-item-divider>
        <ion-card class="card-shout">
          <ion-card-content padding text-wrap>
            <p><b>{{notification.fromMessage}}</b></p>
          </ion-card-content>
          <ion-card-header>
            &nbsp;
          </ion-card-header>
        </ion-card>
      </div>
      <div *ngIf="notification.toMessage">
        <ion-item-divider color="light">
          <b ion-text color="primary">Message From {{notification.to?.business?.business}}</b>
        </ion-item-divider>
        <ion-card class="card-shout">
          <ion-card-content padding text-wrap>
            <p><b>{{notification.toMessage}}</b></p>
          </ion-card-content>
          <ion-card-header>
            &nbsp;
          </ion-card-header>
        </ion-card>
      </div>
    </div>
    <!--
      ========================================================================
      ========================================================================
      ========================================================================
     -->
    <div *ngIf="status == 'sent'">
      <div *ngIf="notification.fromMessage">
        <ion-item-divider color="light">
          <b ion-text color="primary">Message From {{notification.from?.business?.business}}</b>
        </ion-item-divider>
        <ion-card class="card-shout">
          <ion-card-content padding text-wrap>
            <p><b>{{notification.fromMessage}}</b></p>
          </ion-card-content>
          <ion-card-header>
            &nbsp;
          </ion-card-header>
        </ion-card>
      </div>
      <div *ngIf="notification.toMessage">
        <ion-item-divider color="light">
          <b ion-text color="primary">Message From {{notification.to?.business?.business}}</b>
        </ion-item-divider>
        <ion-card class="card-shout">
          <ion-card-content padding text-wrap>
            <p><b>{{notification.toMessage}}</b></p>
          </ion-card-content>
          <ion-card-header>
            &nbsp;
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer no-border [keyboardAttach]="content" *ngIf="showMessaging && business.role == 1">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-item-divider color="light">
        <div item-start>
          <b ion-text color="primary">Reply to: {{notification.from?.business?.business}}</b>
        </div>
        <div item-end>
          <p ion-text color="danger">{{message | countdown: 100}} words left</p>
        </div>
      </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-col col-10>
        <ion-textarea #chat_input placeholder="Send a message" rows="3" [(ngModel)]="message" (keyup.enter)="sendMessage()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right [disabled]="!notification.acknowledged" (click)="sendMessage()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
