<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Locations</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addLocation()" *ngIf="business.type === 2 && (business.role == 1 || business.role == 2)">
        <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-list *ngIf="showContent">
      <div *ngIf="!showContentError">
        <ion-item-sliding *ngFor="let user of locationsArr" #slidingItem>
          <ion-item>
            <h2>{{user.name}}</h2>
          </ion-item>
          <ion-item-options side="right" *ngIf="business.type === 2">
            <button ion-button color="primary" (click)="updateLocation(user,slidingItem)" [disabled]="business.type == 3 && business.role == 4">
              <ion-icon name="create"></ion-icon>
              Update
            </button>
            <button ion-button color="danger" (click)="deleteLocation(user,slidingItem)" [disabled]="business.type == 3 && business.role == 4">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      <div class="myCardNotif" *ngIf="showContentError">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{contentErr.message}}</p>
        </div>
      </div>
    </ion-list>
    <ion-list *ngIf="!showContent">
      <ion-item class="fakeItem" *ngFor="let item of fakeArr">
        <skeleton-item height="24px" width="87%"></skeleton-item>
        <skeleton-item height="12px" width="67%"></skeleton-item>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
