<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Location Entry</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon ios="ios-close-outline" md="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Location</ion-label>
      <ion-input type="text" [(ngModel)]="item.name"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="saveLocation()">Save</button>
  </div>
</ion-content>
