<ion-header no-border>
    <ion-navbar color="narnoo">
    <ion-title>Update Business Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-list-header color="light">
        Enter Business Name
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Business Name:</ion-label>
        <ion-input (ionChange)="validateBusinessName()" [(ngModel)]="business.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Type</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="business.type">
          <ion-option value="operator" (ionSelect)="showOperators()">Operator</ion-option>
          <ion-option value="distributor" (ionSelect)="showDistributor()">Distributor</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isShowOperator">
        <ion-label stacked>Operator Category</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="business.category">
          <ion-option [value]="item.id" *ngFor="let item of operatorCat; let $index = index;" (ionSelect)="selectCategory(business.category,'opt')">{{item.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isShowDistributor">
        <ion-label stacked>Distributor Category</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="business.category">
          <ion-option [value]="item.id" *ngFor="let item of distributorCat; let $index = index;" (ionSelect)="selectCategory(business.category,'dist')">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="light">
        Business Details
      </ion-list-header>
      <ion-item *ngIf="showSubcats">
        <ion-label stacked>Subcategory</ion-label>
        <ion-select [(ngModel)]="business.subCategory" (ionChange)="valildateBusDetails($event)">
          <ion-option *ngFor="let item of subCategoryArr" [value]="item.id">{{item.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubcats">
        <ion-label stacked>Booking Platform</ion-label>
        <ion-select [(ngModel)]="business.bookingPlatform">
          <ion-option *ngFor="let item of platformsArr" [value]="item.name">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label stacked>Keywords</ion-label>
        <!-- <ion-tags-input [(ngModel)]="business.tags" [once]="true" [separatorStr]="','" [canEnterAdd]="true"></ion-tags-input> -->
        <ion-input [(ngModel)]="business.tags" type="text" placeholder="keyword1, keyword2, keyword3"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Contact *:</ion-label>
        <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.businessContact" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business URL *:</ion-label>
        <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.url" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Email *:</ion-label>
        <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Phone *:</ion-label>
        <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.phone" type="text"></ion-input>
      </ion-item>
      <ion-list-header color="light">
        Business Postal Address
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Business Postal Number *:</ion-label>
        <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalNumber" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Postal Street *:</ion-label>
        <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalStreet" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Postal Suburb *:</ion-label>
        <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalSuburb" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Postal State *:</ion-label>
        <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalState" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Postal Code *:</ion-label>
        <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalPostcode" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business Postal Country *:</ion-label>
        <!-- <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalCountry" type="text"></ion-input> -->
        <ion-select [(ngModel)]="business.postalCountry">
          <ion-option value="{{item.title}}" *ngFor="let item of countriesArr">{{item.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <h3>Postal address same
            <br> on physical?</h3>
        </ion-label>
        <ion-toggle [(ngModel)]="isSameAddress" (ionChange)="toggleAddress($event)"></ion-toggle>
      </ion-item>
      <ion-list-header color="light">
        Business Physical Address
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Business physical number *:</ion-label>
        <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalNumber" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business physical Street *:</ion-label>
        <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalStreet" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business physical Suburb *:</ion-label>
        <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalSuburb" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business physical State *:</ion-label>
        <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalState" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business physical Post Code *:</ion-label>
        <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalPostcode" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Business physical Country *:</ion-label>
        <!-- <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalCountry" type="text"></ion-input> -->
        <ion-select [(ngModel)]="business.physicalCountry">
          <ion-option value="{{item.title}}" *ngFor="let item of countriesArr">{{item.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div padding>
      <div #map id="map"></div>
    </div>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="onFinish()">UPDATE</button>
  </ion-toolbar>
</ion-footer>
