<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="narnoo">
  <ion-grid fixed>
    <div class="loginContent">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input type="text" required [(ngModel)]="users.firstName" placeholder="Firstname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" [(ngModel)]="users.lastName" placeholder="Lastname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" [(ngModel)]="users.email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="users.password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="users.confirmation" placeholder="Confirm Password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-item no-lines text-wrap transparent style="border-bottom: none !important;">
        <ion-icon color="share1" name="ios-radio-button-off-outline" item-start *ngIf="!isAgree" (click)="updateCucumber()"></ion-icon>
        <ion-icon color="share1" name="ios-checkmark-circle" item-start *ngIf="isAgree" (click)="updateCucumber()"></ion-icon>
        <ion-label ion-text color="light" (click)="viewTerms($event)"><small>By clicking this you agree to our
          <span ion-text color="share1">Terms and Conditions</span> statement.</small>
        </ion-label>
        <!-- <ion-checkbox color="share1" [(ngModel)]="isAgree" (ionChange)="updateCucumber()"></ion-checkbox> -->
      </ion-item>
      <div class="signup-col">
        <button ion-button block round color="light" (click)="registerUser()" [disabled]="!isAgree">Register</button>
      </div>
    </div>
  </ion-grid>
</ion-content>
