page-register {
  .loginContent {
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: center;
  }
  .list-ios[inset] {
    margin: 0px !important;
  }

  ion-list {
    margin: 0 !important;
  }

  .list-ios>.item-block:first-child {
    border-top: none !important;
  }

  ion-item {
    font-size: 16px;
    font-weight: regular;
    background: transparent !important;
    box-shadow: none !important;
    margin-bottom: 10px !important;
    border-bottom: solid 1.3px #fff !important;

    ion-icon {
      color: #fff !important;
    }

    .item-inner {
      border-bottom: none !important;
    }

    .text-input {
      color: #fff !important;
    }
  }

  ion-input {
     ::-webkit-input-placeholder {
      text-align: left;
      color: #fff !important;
    }

     :-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
      color: #fff !important;
    }

     ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
      color: #fff !important;
    }

     :-ms-input-placeholder {
      text-align: left;
      color: #fff !important;
    }
  }

  .signup-col {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
}
