<ion-card *ngIf="showBookingSettings">
  <ion-card-header>
    Product Settings
  </ion-card-header>
  <ion-list>
    <ion-item class="nowrapinfo">
      <ion-label>Distribute this product information through media libraries</ion-label>
      <ion-checkbox color="secondary" checked="true" [(ngModel)]="product.access"></ion-checkbox>
    </ion-item>
    <ion-item class="nowrapinfo">
      <ion-label>Allow distributors access to this product through Narnoo's marketplace</ion-label>
      <ion-checkbox color="secondary" [(ngModel)]="product.bookable"></ion-checkbox>
    </ion-item>
  </ion-list>
  <!-- <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="checkmark"></ion-icon>
        <div>Update</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row> -->
</ion-card>
