<ion-header>
  <ion-navbar color="narnoo">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="playSlideShow()" [disabled]="!showContent">
        <ion-icon ios="ios-play-outline" md="ios-play-outline" *ngIf="!showPreview"></ion-icon>
        <ion-icon ios="ios-square-outline" md="ios-square-outline" *ngIf="showPreview"></ion-icon>
      </button>
      <button ion-button icon-only (click)="uploadFile()" *ngIf="!showPreview && showUpload" [disabled]="!showContent">
        <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'dark-content': showPreview}">
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!showPreview">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-grid *ngIf="!showPreview && showContent">
      <ion-row>
        <ion-col col-4 *ngFor="let row of imagesArr" (click)="viewImageDetail(row)">
          <img-loader [src]="row.image200 | linkHttp" fallback="./assets/img/thumb.jpg" useImg></img-loader>
          <ion-checkbox [checked]="row.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row *ngIf="!showContent && !showPreview">
      <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of imagesLoadingArr">
          <skeleton-item height="120px" radius="2px"></skeleton-item>
      </ion-col>
    </ion-row>
    <ion-slides autoplay="2500" loop="true" speed="2000" *ngIf="showPreview">
      <ion-slide *ngFor="let row of imagesArr">
        <img-loader [src]="row.image800 | linkHttp" fallback="./assets/img/thumb.jpg" useImg [imageViewer]="row.largeImage"></img-loader>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
<ion-footer no-border *ngIf="!showPreview">
  <ion-toolbar color="primary">
    <ion-buttons start *ngIf="(business.role == 1 || business.role == 2)">
      <button ion-button clear (click)="selectClick()" *ngIf="!showCheckbox && showUpload" [disabled]="!showContent">
        Select
      </button>
      <button ion-button clear (click)="cancelClick()" *ngIf="showCheckbox && showUpload" [disabled]="!showContent">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons end *ngIf="(business.role == 1 || business.role == 2)">
      <button ion-button icon-only (click)="deleteSelected()" [disabled]="!showCheckbox">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
