page-album-gallery {
  ion-slides {
    background-color: #000;
    .slide-zoom {
      height: 100%;
      background-color: #000;
    }
    /* .slide-zoom img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    } */
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
  }

  .dark-content {
    background-color: #000;
  }

  .selected-image {
    background-color: white;
    display: inline-block;
    opacity: .5;
  }
  .checkbox {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 12px;
  }
  .checkbox-disabled {
    opacity: 1 !important;
    pointer-events: none;
  }
}
