<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Channels</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showLoading"
        *ngIf="business.type === 2 && (business.role == 1)">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteChannels()" [disabled]="showLoading"
        *ngIf="business.type === 2 && (business.role == 1)">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="!showLoading">
      <ion-card>
        <ion-card-title padding>
          {{channel.title}}
        </ion-card-title>
        <ion-list *ngIf="channel.totalVideos">
          <ion-item>
            <ion-icon name="ios-videocam-outline" item-start></ion-icon>
            {{channel.totalVideos}} Videos
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card *ngFor="let item of channel.videos">
        <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls preload="auto" data-setup='{}'
          [poster]="item.image800 | linkHttp">
          <source [src]="item.videoPreview | linkHttp" type="video/mp4">
        </video>
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Caption
              </ion-col>
              <ion-col col-8 text-wrap>
                <span class="caption" *ngIf="item.caption">{{item.caption}}</span>
                <span class="caption" *ngIf="!item.caption">No caption available</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.language">
            <ion-row>
              <ion-col col-4>
                Uploaded
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.language}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.uploadedAt">
            <ion-row>
              <ion-col col-4>
                Uploaded
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.uploadedAt | date: 'MM/dd/yyyy'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.privilege">
            <ion-row>
              <ion-col col-4>
                Privacy
              </ion-col>
              <ion-col col-8>
                <span class="caption" ion-text color="primary">{{item.privilege | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div *ngIf="showLoading">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-row margin-top>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
