<ion-header>
      <ion-navbar color="narnoo">
        <ion-buttons start>
            <img class="img-bordered" [src]="connect_user.avatar.thumbImage" onError="this.src='./assets/img/user.png'">
        </ion-buttons>
        <ion-title>
            Assign Platform
            <br>
            <small>{{userName}}</small>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()" color="danger">
        <ion-icon name='md-close'></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="!showLoading">
        <ion-list-header>
            Select Booking Platforms
        </ion-list-header>
        <ion-row *ngIf="platformsArr && platformsArr.length > 0">
            <ion-col col-6 *ngFor="let item of platformsArr">
                <button ion-button outline color="primary" small block (click)="selectItem(item)" [ngClass]="{'selected': item.selected}">{{item.name}}</button>
            </ion-col>
        </ion-row>
        <div text-center middle *ngIf="contentErr && platformsArr.length < 1">
            <p ion-text color="danger">{{contentErr}}</p>
        </div>
    </ion-list>
    <div *ngIf="showLoading" padding center text-center>
        <ion-spinner name="dots" color="primary"></ion-spinner>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <button ion-button full color="primary" (click)="assignPlatform()" [disabled]="platformsArr && platformsArr.length < 1">Assign</button>
    </ion-toolbar>
</ion-footer>
