<ion-header no-border no-line>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Connect Business
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="margin-right: 5px" (click)="viewNotifications()" *ngIf="business.role == 1">
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge id="cart-badge" color="danger" *ngIf="totalNotification > 0">{{totalNotification}}</ion-badge>
      </button>
      <button ion-button icon-only (click)="navigate()" [disabled]="!showContent" *ngIf="action == 'all'">
        <ion-icon name="ios-navigate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="action" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="following">
        Following
      </ion-segment-button>
      <ion-segment-button value="followers" *ngIf="business.type != 2">
        Followers
      </ion-segment-button>
      <ion-segment-button value="all">
        Find
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar #q (keyup.enter)="getItems(q.value)" showCancelButton="true" (ionClear)="onClear($event)"
    (ionCancel)="onCancel($event)" [disabled]="!showContent"></ion-searchbar>
  <ion-grid fixed>
    <!--
    =========================================================================================
    =========================================================================================
    =========================================================================================
     -->
    <ion-grid *ngIf="action == 'following'">
      <div *ngIf="showFollowingContent">
        <ion-row *ngIf="followingArr && followingArr.length > 0">
          <ion-col col-4 *ngFor="let user of followingArr">
            <div text-center text-wrap (click)="connectUser(user,$event)">
              <!-- <img class="circular" [ngClass]="{'connected': user.details.connected}" [src]="user.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
              <img src="./assets/img/user.png" *ngIf="!user.avatar">
              <img-loader class="circular" [src]="user.avatar?.thumbImage | linkHttp"
                fallback="./assets/img/user.png" useImg [ngClass]="{'connected': user.details.connected}" *ngIf="user.avatar">
              </img-loader>
              <p>{{user.details?.business || user.name}}</p>
              <small>
                <ion-note>{{user.details.type | uppercase}}</ion-note>
              </small>
            </div>
          </ion-col>
        </ion-row>
        <div class="myCardNotif" *ngIf="followingErr">
          <div padding text-center>
            <img src="./assets/img/error.png" />
            <p ion-text color="apperror">{{followingErr}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!showFollowingContent" padding center text-center>
        <ion-row>
          <ion-col col-4 *ngFor="let user of fakeArr">
            <div text-center text-wrap>
              <skeleton-item height="100px" width="100px" rounded></skeleton-item>
              <skeleton-item height="12px"></skeleton-item>
              <skeleton-item height="10px" width="67%"></skeleton-item>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <!--
    =========================================================================================
    =========================================================================================
    =========================================================================================
     -->
    <ion-grid *ngIf="action == 'followers'">
      <div *ngIf="showFollowerContent">
        <ion-row *ngIf="followerArr && followerArr.length > 0">
          <ion-col col-4 *ngFor="let user of followerArr">
            <div text-center text-wrap (click)="connectUser(user,$event)">
              <!-- <img class="circular" [ngClass]="{'connected': user.details.connected}" [src]="user.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
              <img src="./assets/img/user.png" *ngIf="!user.avatar">
              <img-loader class="circular" [src]="user.avatar?.thumbImage | linkHttp"
                fallback="./assets/img/user.png" useImg [ngClass]="{'connected': user.details.connected}" *ngIf="user.avatar">
              </img-loader>
              <p>{{user.details?.business || user.name}}</p>
              <small>
                <ion-note>{{user.details.type | uppercase}}</ion-note>
              </small>
            </div>
          </ion-col>
        </ion-row>
        <div class="myCardNotif" *ngIf="followerErr">
          <div padding text-center>
            <img src="./assets/img/error.png" />
            <p ion-text color="apperror">{{followerErr}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!showFollowerContent" padding center text-center>
        <ion-row>
          <ion-col col-4 *ngFor="let user of fakeArr">
            <div text-center text-wrap>
              <skeleton-item height="100px" width="100px" rounded></skeleton-item>
              <skeleton-item height="12px"></skeleton-item>
              <skeleton-item height="10px" width="67%"></skeleton-item>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <!--
    =========================================================================================
    =========================================================================================
    =========================================================================================
     -->
    <ion-grid *ngIf="action == 'all'">
      <ion-row *ngIf="showContent">
        <ion-col col-4 *ngFor="let user of usersArr">
          <div text-center text-wrap (click)="connectUser(user,$event)">
            <!-- <img class="circular" [ngClass]="{'connected': user.details.connected}" [src]="user.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
            <img src="./assets/img/user.png" *ngIf="!user.avatar">
            <img-loader class="circular" [src]="user.avatar?.thumbImage | linkHttp"
              fallback="./assets/img/user.png" useImg [ngClass]="{'connected': user.details.connected}" *ngIf="user.avatar">
            </img-loader>
            <p>{{user.details?.business || user.name}}</p>
            <small>
              <ion-note>{{user.details.type | uppercase}}</ion-note>
            </small>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="!showContent" padding center text-center>
        <ion-row>
          <ion-col col-4 *ngFor="let user of fakeArr">
            <div text-center text-wrap>
              <skeleton-item height="100px" width="100px" rounded></skeleton-item>
              <skeleton-item height="12px"></skeleton-item>
              <skeleton-item height="10px" width="67%"></skeleton-item>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <!--
    =========================================================================================
    =========================================================================================
    =========================================================================================
     -->
  </ion-grid>
</ion-content>
