page-connected-business {
  // .circular {
  //   width: 100px;
  //   height: 100px;
  //   border-radius: 50%;
  //   -webkit-border-radius: 50%;
  //   -moz-border-radius: 50%;
  //   // border: 4px solid #427feb;
  //   border: 1px solid #8CA2B2;
  //   background-size: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .circular {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      // border: 4px solid #427feb;
      border: 1px solid #8CA2B2;
      background-size: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .connected {
    border: 4px solid #ffc900 !important;
  }

  .checkbox {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 12px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
  }

  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }

    40%,
    100% {
      background-position: 208px;
    }
  }
}
