page-operator-request-action-modal {
  ion-footer {
    [ion-button] {
      margin: 0 !important;
    }
  }

  .img-bordered {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -o-border-radius: 20%;
    border: 2px solid #ddd;
  }

  .button-outline-ios-primary.selected {
    color: #fff !important;
    background-color: #488aff !important;
  }

  /* .header {
    .toolbar-ios.statusbar-padding {
      min-height: 44px !important;
      padding-top: 20px !important;

      ion-title {
        padding-top: env(safe-area-inset-top) !important;
        min-height: env(safe-area-inset-top) !important;
        padding: 0 !important;
        height: 100% !important;
      }
    }
  } */
}
