<ion-header>
    <ion-navbar color="narnoo">
    <!-- <ion-buttons start>
      <img class="img-bordered" [src]="connect_user.avatar.thumbImage" onError="this.src='./assets/img/user.png'">
        </ion-buttons> -->
      <ion-title>
        {{userName}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()" color="danger">
          <ion-icon name='md-close'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="narnoo">
    <div text-wrap text-center>
      <span style="color:#fff">{{request.title}}</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item no-lines text-center text-wrap padding-left padding-right color="warning">
      <p>A notification will be sent to the business regarding your request</p>
    </ion-item>
    <ion-item>
      <ion-textarea rows="5" placeholder="Send an optional message" [(ngModel)]="request.messageText"></ion-textarea>
    </ion-item>
    <ion-item no-lines>
      <ion-row>
        <ion-col center>
          <p ion-text color="danger">{{request.messageText | countdown: 100}} words left</p>
        </ion-col>
        <ion-col>
          <button ion-button full color="primary" (click)="sendMessage()" [disabled]="isSending">Send</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
