<ion-header>
    <ion-navbar color="narnoo">
   <!--  <ion-buttons start>
      <img class="img-bordered" [src]="connect_user.avatar.thumbImage" onError="this.src='./assets/img/user.png'">
        </ion-buttons> -->
      <ion-title>
        {{userName}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()" color="danger">
          <ion-icon name='md-close'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Select Request
    </ion-list-header>
    <div *ngIf="!showLoading">
      <div *ngIf="requestArr && requestArr.length > 0" padding>
        <ion-row *ngFor="let item of requestArr">
          <button ion-button outline color="primary" block (click)="selectItem(item)" [ngClass]="{'selected': item.selected}">{{item.label}}</button>
        </ion-row>
      </div>
    </div>
    <div text-center middle *ngIf="contentErr && requestArr.length < 1">
      <p ion-text color="danger">{{contentErr}}</p>
    </div>
  </ion-list>
  <div *ngIf="showLoading" padding center text-center>
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
</ion-content>
