<ion-card class="info" *ngIf="showBookingSettings">
  <ion-card-header>
    Booking Link
  </ion-card-header>
  <ion-card-content>
    Narnoo does not provide booking or payment options for products, what we can supply is the direct link to your product’s booking/reservation page. This is usually the link found in your “Book Now” button on your website.
  </ion-card-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-input type="text" placeholder="Direct booking link" [(ngModel)]="product.directBooking"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small [disabled]="!product.bookable">
        <ion-icon name="bookmark"></ion-icon>
        <div>Save Link</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="openLink(product.directBooking)">
        <ion-icon name="open"></ion-icon>
        <div>View</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-card>
