<ion-tabs [selectedIndex]="seltabix" [tabsPlacement]="tabsPlacement" [tabsLayout]="tabsLayout">
	<ion-tab [root]="profileTabRoot" tabTitle="Feed" tabIcon="md-paper"></ion-tab>
    <ion-tab [root]="imagesTabRoot" tabTitle="Media" tabIcon="md-images" ></ion-tab>
    <ion-tab [root]="productTabRoot" tabTitle="Products" tabIcon="md-cart" [show]="item.type == 1"></ion-tab>
    <ion-tab [root]="followersTabRoot" tabTitle="Connect" tabIcon="md-git-network" [show]="item.role !=3 && item.role != 4"></ion-tab>
    <ion-tab [root]="settingsTabRoot" tabTitle="More" tabIcon="md-menu" tabBadgeStyle="danger" [tabBadge]="totalNotification > 0 ? totalNotification : null"></ion-tab>
</ion-tabs>
