<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Connect Settings</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="saveEntry()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list radio-group [(ngModel)]="connectSettings">
    <ion-list-header text-wrap>Edit Business Connection for {{business}}</ion-list-header>
    <ion-item (click)="select('full')">
      <ion-label>Full Role</ion-label>
      <ion-radio value="full"></ion-radio>
    </ion-item>
    <ion-item (click)="select('products')">
      <ion-label>Products</ion-label>
      <ion-radio value="products"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full>SAVE</button>
  </ion-toolbar>
</ion-footer> -->
