<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{image.caption}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <form [formGroup]="imageForm">
        <ion-item no-lines>
          <ion-label>Caption</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.caption.errors">
          <ion-input type="text" placeholder="Caption" formControlName="caption" placeholder="Image Caption"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.caption.errors" class="help-block" text-wrap>
          <div *ngIf="f.caption.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Caption is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Privilege</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.privilege.errors">
          <ion-select formControlName="privilege" placeholder="Image Privilege">
            <ion-option value="public">Public</ion-option>
            <ion-option value="trade">Trade</ion-option>
            <ion-option value="media">Media</ion-option>
            <ion-option value="private">Private</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.privilege.errors" class="help-block" text-wrap>
          <div *ngIf="f.privilege.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Privilege is required.
          </div>
        </div>
      </form>
      <ion-item-divider color="light">
        Market Target
      </ion-item-divider>
      <ion-item>
        <ion-label>Australia</ion-label>
        <ion-toggle [(ngModel)]="image.markets.australia" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>France</ion-label>
        <ion-toggle [(ngModel)]="image.markets.france" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Germany</ion-label>
        <ion-toggle [(ngModel)]="image.markets.germany" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Greater China</ion-label>
        <ion-toggle [(ngModel)]="image.markets.greaterChina" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>India</ion-label>
        <ion-toggle [(ngModel)]="image.markets.india" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Japan</ion-label>
        <ion-toggle [(ngModel)]="image.markets.japan" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Korea</ion-label>
        <ion-toggle [(ngModel)]="image.markets.korea" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>New Zealand</ion-label>
        <ion-toggle [(ngModel)]="image.markets.newZealand" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>North America</ion-label>
        <ion-toggle [(ngModel)]="image.markets.northAmerica" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Singapore</ion-label>
        <ion-toggle [(ngModel)]="image.markets.singapore" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>United Kingdom</ion-label>
        <ion-toggle [(ngModel)]="image.markets.unitedKingdom" color="primary" [disabled]="disabledMarket"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full color="primary" (click)="save()">Save</button>
  </ion-toolbar>
</ion-footer>
 -->
