<ion-header>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Downloads</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="selectClick()" *ngIf="!showCheckbox" [disabled]="!showContent">
        Select
      </button>
      <button ion-button clear (click)="cancelClick()" *ngIf="showCheckbox" [disabled]="!showContent">
        Cancel
      </button>
      <button ion-button icon-only (click)="display()">
        <ion-icon name="ios-apps-outline" *ngIf="isList"></ion-icon>
        <ion-icon name="ios-list-outline" *ngIf="!isList"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showContent">
    <ion-list *ngIf="!showContentErr && isList">
      <div *ngFor="let item of downloadsArr">
        <ion-item (click)="open(item)" *ngIf="item.isFile">
          <ion-avatar item-start>
            <img [src]="item.nativeURL" onError="this.src='./assets/img/pdf.svg'" *ngIf="!showCheckbox">
            <img [src]="item.nativeURL" onError="this.src='./assets/img/pdf.svg'" [ngClass]="{'show-checkbox': showCheckbox}" *ngIf="showCheckbox && !item.selected">
            <img src="./assets/img/verified.svg" *ngIf="showCheckbox && item.selected">
          </ion-avatar>
          <p>{{item.name}}</p>
        </ion-item>
      </div>
    </ion-list>
    <ion-grid *ngIf="!showContentErr && !isList">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of downloadsArr">
          <img [src]="item.nativeURL" onError="this.src='./assets/img/pdf.svg'" (click)="open(item)">
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="myCardNotif" *ngIf="showContentErr">
      <div padding text-center>
        <img src="./assets/img/error.png" />
        <p ion-text color="apperror">{{contentErr.message}}</p>
      </div>
    </div>
  </div>
  <ion-row *ngIf="!showContent && isList">
    <ion-item *ngFor="let item of fakeArr">
      <div class="animated-background-item">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
      </div>
    </ion-item>
  </ion-row>
  <ion-grid *ngIf="!showContent && !isList">
    <ion-row>
      <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
        <div class="animated-background"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom fixed *ngIf="showCheckbox">
    <button ion-fab color="danger" (click)="deleteSelectedFile()">
      <ion-icon name="ios-trash-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
