page-downloads {
  .folder-color {
    color: #0109a3 !important;
  }

  .file-color {
    color: #32db64 !important;
  }

  .show-checkbox{
  	background-color: #968b8b;
  }

  .selected-image {
    background-color: white;
    display: inline-block;
    opacity: .5;
  }
  .checkbox{
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 12px;
  }
  .checkbox-disabled {
    opacity: 1 !important;
    pointer-events: none;
  }
}
