<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="close($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{type | uppercase}} Entry</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveStaff()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="inputForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Name</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.name.errors">
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.name.errors" class="help-block" text-wrap>
          <div *ngIf="f.name.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Name is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Title</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.title.errors">
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.title.errors" class="help-block" text-wrap>
          <div *ngIf="f.title.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Title is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Email</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.email.errors">
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.email.errors" class="help-block" text-wrap>
          <div *ngIf="f.email.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Email is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Phone</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="saveStaff()">Save</button>
  </ion-toolbar>
</ion-footer> -->
