<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Staff Directory</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createStaff()" [disabled]="!showContent" *ngIf="business.type == 1 && business.role == 1">
        <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-list>
      <div *ngIf="showContent">
        <div *ngIf="contactsArr && contactsArr.length > 0">
          <ion-item-sliding *ngFor="let user of contactsArr" #slidingItem>
            <button ion-item (click)="gotoDetail(user)">
              <h2>{{user.name}}</h2>
              <p>{{user.email}}</p>
              <p><small>{{user.phone}}</small></p>
              <p><small>{{user.title}}</small></p>
            </button>
            <ion-item-options side="right" *ngIf="business.role == 1">
              <button ion-button color="primary" (click)="updateStaff(user,slidingItem)">
                <ion-icon name="create"></ion-icon>
                Update
              </button>
              <button ion-button color="danger" (click)="deleteStaff(user,slidingItem)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        <div class="myCardNotif" *ngIf="contentErr && contactsArr.length < 1">
          <div padding text-center>
            <img src="./assets/img/error.png" />
            <p ion-text color="apperror">{{contentErr.message}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!showContent">
        <ion-item class="fakeItem" *ngFor="let item of fakeArr">
          <skeleton-item height="24px" width="87%"></skeleton-item>
          <skeleton-item height="14px" width="67%"></skeleton-item>
          <skeleton-item height="10px" width="47%"></skeleton-item>
          <skeleton-item height="10px" width="47%"></skeleton-item>
        </ion-item>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
