<ng-container *ngIf="showContentImage">
  <div *ngIf="!showContentImageErr">
    <ion-grid *ngIf="imagesArr && imagesArr.length > 1">
      <ion-row class="card-background-page">
        <ion-col col-4 *ngFor="let item of imagesArr">
          <ion-card (click)="viewImageDetail(item)" class="custom-card">
            <img-loader [src]="item.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg
              [ngClass]="{'selected-image': item.selected}"></img-loader>
            <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="myCardNotif" *ngIf="!showContentImageErr && imagesArr.length < 1">
      <div padding text-center>
        <img src="./assets/img/error.png" />
        <p ion-text color="apperror">No images found!</p>
        <button ion-button small color="narnoo" (click)="uploadFile()" [disabled]="!showContentImage"
          *ngIf="action !== 'connect' && (business.role == 1 || business.role == 2)">Add Images</button>
      </div>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentImageErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{imageContentErr.message}}</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!showContentImage">
  <ion-grid>
    <ion-row>
      <ion-col class="noimage" col-4 *ngFor="let item of imagesLoadingArr">
        <skeleton-item height="85px" width="114px" radius="2px"></skeleton-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
