<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{item.caption}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showLoading" *ngIf="(action !='connect' && action !='notif') && (business.role == 1) && !showError">
        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" *ngIf="!showError" [disabled]="showLoading">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="fixing_grid">
    <div *ngIf="!showLoading">
      <div *ngIf="!showError">
        <div text-center class="profileimage">
          <div class="progressive-image">
            <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
              [attr.data-image]="item.largeImage | linkHttp">
            </div>
            <div class="overlay" imageViewer="{{item.largeImage | linkHttp}}"></div>
          </div>
        </div>
        <ion-row class="action-buttons">
          <ion-col text-center>
            <button ion-button clear color="apperror" (click)="updateImageDetail()" [disabled]="showLoading" *ngIf="(action != 'connect' && action !='notif') && (business.role == 1)">
              <ion-icon name="ios-create-outline"></ion-icon>
              <div class="typo-r14">Edit</div>
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear block color="apperror" (click)="shareNow()" [disabled]="!business.paid" *ngIf="(action != 'connect' && action !='notif') && (business.role == 1 || business.role == 2)">
              <ion-icon name="share-alt"></ion-icon>
              <div class="typo-r14">Share</div>
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear color="apperror" (click)="downloadImage()" [disabled]="!business.paid">
              <ion-icon name="md-download"></ion-icon>
              <div class="typo-r14">Download</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-item-divider color="narnoo">
            <b>Overview</b>
          </ion-item-divider>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Name</b>
              </ion-col>
              <ion-col col-8 text-wrap>
                <span class="caption">{{item.caption}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.location" text-wrap>
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Location</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.location}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.imageSize">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Size</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.imageSize | fileSize}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.orientation">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Orientation</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.orientation | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.keywords" text-wrap>
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Keywords</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.keywords}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.imageWidth">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo"> Width</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.imageWidth}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.imageHeight">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Height</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.imageHeight}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.uploadedAt">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Uploaded</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.uploadedAt | date: 'short'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.privilege">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Privacy</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.privilege | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <ion-list class="marketTarget">
          <ion-item-divider color="narnoo">
            <b>Market Target</b>
          </ion-item-divider>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Australia</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.australia" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>France</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.france" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Germany</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.germany" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Greater China</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.greaterChina" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>India</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.india" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Japan</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.japan" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Korea</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.korea" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>New Zealand</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.newZealand" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>North America</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.northAmerica" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>Singapore</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.singapore" color="primary" disabled></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label ion-text color="narnoo"><b>United Kingdom</b></ion-label>
            <ion-toggle [(ngModel)]="item.markets.unitedKindom" color="primary" disabled></ion-toggle>
          </ion-item>
        </ion-list>
        <div *ngIf="showRelatedImages">
          <ion-item-divider color="narnoo">
            <b>Related Images</b>
          </ion-item-divider>
          <ion-grid>
            <ion-row>
              <ion-col col-6 col-md-4 col-xl-3 *ngFor="let row of relatedImagesArr" (click)="viewImageDetail(row)">
                <img [src]="row.image200 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="myCardNotif" *ngIf="showError">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{errContent}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showLoading">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-row margin-top>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
