page-product-detail {
  ion-segment {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    text-align: center;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }

  ion-card.info {
    .price {
      text-transform: uppercase;
      font-weight: 700;
      color: red;
    }

    .video-js {
      width: 100% !important;
      height: 100% !important;
    }

    .product_info {
      ion-icon {
        margin-right: 10px;
      }
      span {
        font-size: 1.4rem;
        color: #488aff;
        font-weight: 400;
      }
    }

    .videoPlayer {
      width: 100%;
    }

    .swiper-slide .slide-zoom img {
      width: 100%;
    }
  }

  .nowrapinfo .item-inner .input-wrapper ion-label {
    white-space: normal !important;
  }

  ion-toolbar.scrollable-segments {
    ion-segment {
      // display: block;
      overflow-x: scroll;
      white-space: nowrap;

      ion-segment-button.segment-button {
        display: inline-block;
        width: auto;
      }
    }
  }

  ion-footer {
    [ion-button] {
      margin: 0 !important;
      padding: 0 !important;
      text-transform: uppercase;
    }
    .toolbar {
      padding: 0 !important;
    }
  }

  .toggle-ios.toggle-disabled{
    opacity: 0.3 !important;
  }
  .item-ios.item-toggle-disabled ion-label {
    opacity: 1 !important;
  }
  
}
