<ion-header>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{product.title}} Product</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showContent" *ngIf="(action != 'connect' && action != 'notif') && business.type == 1 && business.role == 1">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" *ngIf="(action != 'connect' && action != 'notif') && imageAction == 'details' && business.type == 1 && business.role == 1" [disabled]="showContent">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
      <button ion-button icon-only (click)="uploadFile()" *ngIf="(action != 'connect' && action != 'notif') && imageAction == 'gallery' && business.type == 1 && business.role == 1" [disabled]="showContent">
        <ion-icon name="ios-cloud-upload-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border class="scrollable-segments">
    <ion-segment mode="md" [(ngModel)]="imageAction">
      <ion-segment-button value="overview" (ionSelect)="segmentSelected($event)" [disabled]="showContent">
        Overview
      </ion-segment-button>
      <ion-segment-button value="details" (ionSelect)="segmentSelected($event)" [disabled]="showContent">
        Details
      </ion-segment-button>
      <ion-segment-button value="gallery" (ionSelect)="segmentSelected($event)" [disabled]="showContent">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="reviews" (ionSelect)="segmentSelected($event)" [disabled]="showContent" *ngIf="showBookingSettings">
        Booking
      </ion-segment-button>
      <!-- <ion-segment-button value="settings" (ionSelect)="segmentSelected(ev)" [disabled]="showContent" *ngIf="showBookingSettings">
        Settings
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="!showContent">
      <div [ngSwitch]="imageAction">
        <!--
        ===========================================================================
        ============================= Overview ====================================
        ===========================================================================
         -->
        <overview-component *ngSwitchCase="'overview'" [product]="product" [features]="features" [newSummaryArr]="newSummaryArr" (clickViewDetails)="viewDetails($event)" (clickExpandSummaryItem)="expandSummaryItem($event)"></overview-component>
        <!--
        ===========================================================================
        ============================= Details ====================================
        ===========================================================================
         -->
        <details-component *ngSwitchCase="'details'" [product]="product" [newDescriptionArr]="newDescriptionArr" (_expandSummaryItem)="expandSummaryItem($event)" (_viewImageDetail)="viewImageDetail($event)" (_viewVideoDetail)="viewVideoDetail($event)" (_viewPrintDetail)="viewPrintDetail($event)" (_viewLogoDetail)="viewLogoDetail($event)"></details-component>
        <!--
        ===========================================================================
        ============================= Gallery ====================================
        ===========================================================================
         -->
        <gallery-component *ngSwitchCase="'gallery'" [product]="product" (clickViewImageDetail)="viewImageDetail($event)" [perPage]="perPage"></gallery-component>
        <!--
        ===========================================================================
        ============================= Booking ====================================
        ===========================================================================
         -->
        <booking-component *ngSwitchCase="'reviews'" [product]="product" [showBookingSettings]="showBookingSettings" (clickOpenLink)="openLink($event)"></booking-component>
        <!--
        ===========================================================================
        ============================= Settings ====================================
        ===========================================================================
         -->
        <!-- <settings-component *ngSwitchCase="'settings'" [product]="product" [showBookingSettings]="showBookingSettings"></settings-component> -->
      </div>
    </div>
    <div *ngIf="showContent && imageAction != 'gallery'">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-card>
        <ion-card-content>
          <skeleton-item height="24px"></skeleton-item>
          <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item width="67%"></skeleton-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <skeleton-item height="24px"></skeleton-item>
          <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
          <skeleton-item width="67%"></skeleton-item>
        </ion-card-content>
      </ion-card>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
      <ion-item>
        <skeleton-item></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </div>
    <ion-grid *ngIf="showContent && imageAction == 'gallery'">
      <ion-row>
        <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
          <div class="animated-background"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border *ngIf="imageAction == 'gallery'">
  <ion-toolbar>
    <button ion-button full color="primary" (click)="uploadFile()">Add more images</button>
  </ion-toolbar>
</ion-footer> -->
