<ion-header no-border no-line>
    <ion-navbar color="narnoo">
    <ion-title>
      Chats
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-segment [(ngModel)]="pet" mode="md">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="unread">
      Unread
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-sliding *ngFor="let user of contactsArr">
    <ion-item (click)="gotoDetail(user)">
      <ion-avatar item-start>
        <img src="./assets/img/user.png">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="dark" (click)="unread()">
        <ion-icon name="create"></ion-icon>
        Mark as unread
      </button>
      <button ion-button color="danger" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
