<ng-container *ngIf="showContentChannels">
  <ion-grid *ngIf="!showContentChannelsErr" no-padding>
    <ion-row class="card-background-page">
      <ion-col col-12 *ngFor="let item of channelArr">
        <ion-card class="media-channels">
          <img-loader [src]="item.video[0]?.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg [fallbackAsPlaceholder]="true"
            (click)="viewChannels(item)" *ngIf="item.video != null"></img-loader>
          <img src="./assets/img/thumb.jpg" onError="this.src='./assets/img/thumb.jpg'" *ngIf="item.video == null"
            (click)="viewChannels(item)">
          <ion-fab right top #fab>
            <button ion-fab mini color="light">
              <ion-icon name="md-more"></ion-icon>
            </button>
            <ion-fab-list>
              <button ion-fab color="danger" (click)="deleteChannel(item, fab)">
                <ion-icon name="md-trash"></ion-icon>
              </button>
            </ion-fab-list>
          </ion-fab>
          <div class="card-title">{{item.title}}</div>
          <div class="card-subtitle" *ngIf="item.totalVideos > 0">{{item.totalVideos}} Videos</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myCardNotif" *ngIf="channelArr && channelArr.length < 1">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">No channels found!</p>
      <button ion-button small color="narnoo" (click)="createChannels()" [disabled]="!showContentChannels"
        *ngIf="action !== 'connect' && (business.role == 1 || business.role == 2)">Create
        Channel</button>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentChannelsErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{channelsContentErr.message}}</p>
    </div>
  </div>
</ng-container>
<ion-grid *ngIf="!showContentChannels">
  <ion-row>
    <ion-col class="noimage" col-12 *ngFor="let item of imagesLoadingArr">
      <skeleton-item height="220px" radius="2px"></skeleton-item>
    </ion-col>
  </ion-row>
</ion-grid>
