<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Creators</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createCreators()" *ngIf="business.type === 2 && (business.role == 1)">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-list>
      <div *ngIf="showContent">
        <div *ngIf="!showAllContentError">
          <ion-item-sliding *ngFor="let user of creatorsArr" #slidingItem>
            <ion-item>
              <ion-avatar item-start>
                <img src="./assets/img/user.png">
              </ion-avatar>
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <p ion-text color="primary"><small>{{user.type | uppercase}}</small></p>
                <p><small>{{user.email}}</small></p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="deleteCreator(user,slidingItem)">
                <ion-icon name="ios-trash-outline"></ion-icon>
                Unlink
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        <div class="myCardNotif" *ngIf="showAllContentError">
          <div padding text-center>
            <img src="./assets/img/noresults.svg " />
            <p ion-text color="danger">{{allContentError.message}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!showContent">
        <ion-list>
          <ion-item *ngFor="let item of fakeArr">
            <ion-avatar item-start>
              <skeleton-item height="50px" width="50px" rounded></skeleton-item>
            </ion-avatar>
            <skeleton-item></skeleton-item>
            <skeleton-item height="12px" width="67%"></skeleton-item>
            <skeleton-item height="8px" width="67%"></skeleton-item>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
