page-createbusiness {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  small {
    color: #fff !important;
  }

  .warningnotif {
    background: #FFA500;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
  }

  .btn-request {
    border-color: #FFA500;
    color: #FFA500;
  }

  ion-card {
    position: relative;
    text-align: center;
    background: transparent !important;

    ion-card-title {
      color: #fff !important;
      padding-bottom: 25px;
    }

    .loginLogo {
      width: 45vw;
      margin: 0 auto;
      padding-top: 25px;
    }

    ion-item {
      font-size: 16px;
      font-weight: regular;
      background: transparent !important;
      box-shadow: none !important;
      margin-bottom: 10px !important;
      border-bottom: solid 1.3px #fff !important;

      ion-icon {
        color: #fff !important;
      }

      ion-label,
      ion-label[stacked],
      ion-label[floating] {
        color: #fff !important;
        font-size: 1.2rem;
      }

      .item-inner {
        border-bottom: none !important;
      }

      .text-input,
      .select-text {
        color: #fff !important;
      }

      ion-input {
         ::-webkit-input-placeholder {
          text-align: left;
          color: #fff !important;
        }

         :-moz-placeholder {
          text-align: left;
          color: #fff !important;
        }

         ::-moz-placeholder {
          text-align: left;
          color: #fff !important;
        }

         :-ms-input-placeholder {
          text-align: left;
          color: #fff !important;
        }
      }
    }
  }

  ion-wizard-step {
    width: 100%;
  }

  .card-wizard-icon {
    font-size: 10em;
  }
}
