<ion-header no-border>
    <ion-navbar color="narnoo">
    <ion-title>Create New Business</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="narnoo">
  <ion-grid fixed>
    <ion-simple-wizard [(step)]="step" [showSteps]="false" (finish)="onFinish()" [finishIcon]="'done-all'"
      [(stepCondition)]="stepCondition">
      <ion-wizard-step>
        <ion-card class="card-wizard">
          <img class="loginLogo" src="./assets/img/logo.png">
          <ion-card-content>
            <ion-card-title>
              Enter Business Name
            </ion-card-title>
            <p text-wrap text-left>
              Please enter the name of the business which you would like to create on Narnoo.com. We will first check
              to make sure that this business doesn’t already exist in the system. If if does exist you will be able to
              request access to this business account.
              <br>Once you have registered your business it will need to be validated by Narnoo.com. This is to ensure
              quality controls on the content we deliver.
            </p>
            <p padding-top>
              <ion-list no-lines>
                <ion-item>
                  <ion-input (ionBlur)="validateBusinessName()" type="text" [(ngModel)]="business.name" placeholder="Business Name"></ion-input>
                  <ion-spinner item-end color="light" *ngIf="isSearching"></ion-spinner>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
          <ion-item padding-left padding-right no-lines text-wrap style="border-bottom: none !important;">
            <ion-icon color="share1" name="ios-radio-button-off-outline" item-start *ngIf="!isAgree" (click)="updateCucumber()"></ion-icon>
            <ion-icon color="share1" name="ios-checkmark-circle" item-start *ngIf="isAgree" (click)="updateCucumber()"></ion-icon>
            <ion-label ion-text (click)="viewTerms($event)">
              <p>By clicking this you agree to our <a ion-text color="dark">Terms and Conditions</a> statement.</p>
            </ion-label>
            <!-- <ion-checkbox color="share1" [(ngModel)]="isAgree" (ionChange)="updateCucumber()"></ion-checkbox> -->
          </ion-item>
        </ion-card>
        <div padding *ngIf="needAccess">
          <div class="warningnotif">
            <span>Business Name already existed! Do you want to request access on the owner?</span>
          </div>
        </div>
        <div padding *ngIf="needAccess">
          <button ion-button outline color="light" block icon-right class="btn-request" (click)="requestAccess(business)">
            <ion-spinner name="bubbles" *ngIf="isRequesting" item-start></ion-spinner>
            Request Access
          </button>
        </div>
      </ion-wizard-step>
      <ion-wizard-step>
        <ion-card class="card-wizard">
          <ion-card-content>
            <ion-card-title>
              Which type is this business?
            </ion-card-title>
            <p>
              <ion-row>
                <ion-col col-6>
                  <button ion-button color="light" outline (click)="showOperators()">Operator</button>
                  <p text-wrap text-left>
                    If your business is a tourism product or supplier, then you are identified as an Operator within
                    Narnoo.com. You can select your business category and move on from here.
                  </p>
                </ion-col>
                <ion-col col-6>
                  <button ion-button color="light" outline (click)="showDistributor()">Distributor</button>
                  <p text-wrap text-left>
                    If you are a tourism agent, or business that promotes, sells or markets tourism operators, then you
                    are identified as an Distributor within Narnoo.com.
                  </p>
                </ion-col>
              </ion-row>
            </p>
          </ion-card-content>
        </ion-card>
        <div padding text-center>
          <h1>{{business.category}}</h1>
        </div>
      </ion-wizard-step>
      <ion-wizard-step>
        <ion-card class="card-wizard">
          <ion-card-content>
            <ion-card-title>
              Business Details
            </ion-card-title>
            <p>
              <ion-list no-lines>
                <ion-item *ngIf="showSubcats">
                  <ion-label stacked>Subcategory</ion-label>
                  <ion-select [(ngModel)]="business.subCategory" (ionChange)="valildateBusDetails($event)">
                    <ion-option *ngFor="let item of subCategoryArr" value="{{item.id}}">{{item.title}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="showSubcats">
                  <ion-label stacked>Booking Platform</ion-label>
                  <ion-select [(ngModel)]="business.bookingPlatform">
                    <ion-option *ngFor="let item of platformsArr" value="{{item.name}}">{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Contact *:</ion-label>
                  <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.businessContact" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business URL *:</ion-label>
                  <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.url" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Email *:</ion-label>
                  <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.email" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Phone *:</ion-label>
                  <ion-input (ionChange)="valildateBusDetails($event)" [(ngModel)]="business.phone" type="text"></ion-input>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-wizard-step>
      <ion-wizard-step>
        <ion-card class="card-wizard">
          <ion-card-content>
            <ion-card-title>
              Business Postal
            </ion-card-title>
            <p>
              <ion-list no-lines>
                <ion-item>
                  <ion-label stacked>Business Postal Number *:</ion-label>
                  <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalNumber" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Postal Street *:</ion-label>
                  <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalStreet" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Postal Suburb *:</ion-label>
                  <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalSuburb" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Postal State *:</ion-label>
                  <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalState" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Postal Code *:</ion-label>
                  <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalPostcode" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business Postal Country *:</ion-label>
                  <!-- <ion-input (ionChange)="valildatePostDetails($event)" [(ngModel)]="business.postalCountry" type="text"></ion-input> -->
                  <ion-select [(ngModel)]="business.postalCountry">
                    <ion-option value="{{item.title}}" *ngFor="let item of countriesArr">{{item.title}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-wizard" style="margin-bottom: 100px">
          <ion-card-content>
            <ion-list no-lines>
              <ion-item>
                <ion-label> Postal address same
                  <br> on physical?</ion-label>
                <ion-toggle [(ngModel)]="isSameAddress" (ionChange)="toggleAddress($event)"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-wizard-step>
      <ion-wizard-step>
        <ion-card class="card-wizard">
          <ion-card-content>
            <ion-card-title>
              Business Physical
            </ion-card-title>
            <p>
              <ion-list no-lines>
                <ion-item>
                  <ion-label stacked>Business physical number *:</ion-label>
                  <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalNumber" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business physical Street *:</ion-label>
                  <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalStreet" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business physical Suburb *:</ion-label>
                  <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalSuburb" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business physical State *:</ion-label>
                  <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalState" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business physical Post Code *:</ion-label>
                  <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalPostcode" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label stacked>Business physical Country *:</ion-label>
                  <!-- <ion-input (ionChange)="valildatePhyDetails($event)" [(ngModel)]="business.physicalCountry" type="text"></ion-input> -->
                  <ion-select [(ngModel)]="business.physicalCountry">
                    <ion-option value="{{item.title}}" *ngFor="let item of countriesArr">{{item.title}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </p>
            <div padding>
              <button ion-button outline color="light" block icon-right (click)="valildatePhyDetails($event)">
                Register
              </button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-wizard-step>
    </ion-simple-wizard>
  </ion-grid>
</ion-content>
