page-businessprofile {
  ion-content {
    background-color: #e4e4e4 !important;
  }

  .profile {
    .toolbar-content {
      border-bottom: 2px solid #ddd;
    }
  }

  .avatar {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
  }

  .one-image {
    margin: 2px;
  }

  .card-feed {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;

    .feed-actions {
      border-top: 1px solid #C7C7C7;
      margin-top: 16px;

      ion-icon {
        font-size: 1.8em;
        font-weight: 600;
      }
    }
  }
}
