<ion-header no-border no-line>
  <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{business.business}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="margin-right: 5px" (click)="viewNotifications()"
        *ngIf="business.role == 1 || business.role == 2">
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge id="cart-badge" color="danger" *ngIf="totalNotification > 0">{{totalNotification}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="profile" *ngIf="business.role == 1">
    <create-post [business]="business" [showContent]="showContent" [showPostContent]="showPostContent"
      (_checkFocus)="checkFocus($event)"></create-post>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isPosting">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed no-padding>
    <ng-container *ngIf="isPosting">
      <card-create-post [business]="business" [_shout]="_shout" [retryMsg]="retryMsg" [percentDone]="percentDone"
        [isRetry]="isRetry" [showRetry]="showRetry" [isLimit]="isLimit" (_deleteCacheShout)="deleteCacheShout($event)"
        (_createPost)="createPost($event)">
      </card-create-post>
    </ng-container>
    <ng-container *ngIf="showContent">
      <autoplay-content>
        <ng-container *ngFor="let rows of feedsArr">
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'shout'">
            <card-shout [item]="rows" [avatar]="rows.avatar" [external]="rows.media?.external" [media]="rows.media"
              (_viewExternalLink)="viewExternalLink($event)" (_moreAction)="moreAction($event.type, $event.item)"
              (_downloadImage)="downloadImage($event)" (_shareActivity)="shareActivity($event)">
            </card-shout>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'following' || rows.itemType == 'joined'">
            <card-following-joined [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_moreAction)="moreAction($event.type, $event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-following-joined>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'product'">
            <card-product [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-product>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'images'">
            <card-images [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-images>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'image'">
            <card-image [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-image>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'logo'">
            <card-image [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-image>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'brochure'">
            <card-brochure [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-brochure>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'video'">
            <!-- <card-video [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-video> -->

              <ion-card class="card-feed">
                <ion-item no-lines text-wrap>
                  <ion-avatar item-start>
                    <img-loader [src]="rows.avatar.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
                    </img-loader>
                  </ion-avatar>
                  <h2><b>{{rows.businessName}}</b></h2>
                  <p><small>{{rows.timestamp | timesago}}</small></p>
                </ion-item>
                <ion-item *ngIf="rows.itemType != 'following' && rows.itemType != 'joined'" text-wrap>
                  <p><small>{{rows.statement}}</small></p>
                </ion-item>
                <div text-center center>
                  <video #mediaVideo class="video-js vjs-big-play-centered" [id]="'singleVideo' + rows.objectId" controls
                    playsinline loop preload="auto" data-setup='{}' [poster]="rows.media.image800 | linkHttp">
                    <source [src]="rows.media.streamMP4 | linkHttp" type="video/mp4">
                    <source [src]="rows.media.streamWebm | linkHttp" type="video/webm">
                  </video>
                </div>
                <ion-row justify-content-start class="feed-actions">
                  <ion-col>
                    <button ion-button icon-left clear small color="dark" (click)="viewFeedDetails(rows.itemType,item)">
                      <ion-icon name="ios-eye-outline"></ion-icon>
                      <div>View</div>
                    </button>
                  </ion-col>
                  <ion-col>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear small color="dark" (click)="downloadImage(rows)"
                      [disabled]="rows.disableDownload">
                      <ion-icon name="ios-cloud-download-outline"></ion-icon>
                      <div>Download</div>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear small color="dark" (click)="shareActivity(rows)"
                      [disabled]="rows.disableShare">
                      <ion-icon name="share-alt"></ion-icon>
                      <div>Share</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card>
          </ng-container>
          <!--
            ================================================================================
            ================================================================================
            ================================================================================
            -->
          <ng-container *ngIf="rows.itemType == 'album'">
            <card-albums [item]="rows" [avatar]="rows.avatar" [media]="rows.media"
              (_viewFeedDetails)="viewFeedDetails($event.type,$event.item)" (_downloadImage)="downloadImage($event)"
              (_shareActivity)="shareActivity($event)"></card-albums>
          </ng-container>
        </ng-container>
      </autoplay-content>
    </ng-container>
    <div *ngIf="!showContent">
      <ion-list *ngFor="let item of fakeArr">
        <ion-item no-lines>
          <ion-avatar item-start>
            <skeleton-item height="36px" width="36px" rounded></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
        <ion-item no-lines>
          <skeleton-item height="12px"></skeleton-item>
          <skeleton-item height="12px"></skeleton-item>
          <skeleton-item height="12px" width="67%"></skeleton-item>
        </ion-item>
        <ion-item no-lines>
          <skeleton-item height="180px"></skeleton-item>
        </ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
