<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="uploadFile()" *ngIf="action == 'gallery' && business.type == 1 && (business.role == 2 || business.role == 1)">
        <ion-icon name="ios-cloud-upload-outline"></ion-icon>
      </button>
      <button ion-button clear (click)="saveEntry()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="action" mode="md">
      <ion-segment-button value="info">
        Overview
      </ion-segment-button>
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="gallery" *ngIf="mode =='update'">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="link" *ngIf="mode =='update'">
        Booking
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <div [ngSwitch]="action">
        <product-entry-summary-component *ngSwitchCase="'info'" [textEditorConfig]="textEditorConfig" [product]="product"
          [features]="features" [mode]="mode" [newSummaryArr]="newSummaryArr" [newDescriptionArr]="newDescriptionArr"></product-entry-summary-component>
        <product-entry-details-component *ngSwitchCase="'details'" [textEditorConfig]="textEditorConfig" [product]="product"
          (_setFeature)="setFeature($event)"></product-entry-details-component>
        <div *ngIf="mode =='update'">
          <product-entry-gallery-component *ngSwitchCase="'gallery'" [product]="product"></product-entry-gallery-component>
          <div *ngSwitchCase="'link'">
            <ion-item-divider color="light">Booking Link</ion-item-divider>
            <ion-item>
              <ion-label stacked>Booking Link</ion-label>
              <ion-input type="text" [(ngModel)]="product.bookingLink"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
