<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Collections</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="!showImageContent"
        *ngIf="(business.role == 1)">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button clear (click)="selectClick()"
        *ngIf="!showCheckbox && selectedSegment !='info' && business.role == 1" [disabled]="!showImageContent">
        Select
      </button>
      <button ion-button clear (click)="cancelClick()"
        *ngIf="showCheckbox && selectedSegment !='info' && business.role == 1" [disabled]="!showImageContent">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" mode="md">
      <ion-segment-button value="info">
        <div>
          <ion-icon name="md-list"></ion-icon>
          <br>
          <label>Info</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="image">
        <div>
          <ion-icon name="ios-images-outline"></ion-icon>
          <br>
          <label>Images</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="print">
        <div>
          <ion-icon name="ios-copy-outline"></ion-icon>
          <br>
          <label>Prints</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="video">
        <div>
          <ion-icon name="ios-videocam-outline"></ion-icon>
          <br>
          <label>Videos</label>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
      <!--
        ===========================================================================
        ============================= INFO ====================================
        ===========================================================================
         -->
      <ion-slide id="info">
        <ion-list>
          <ion-item-divider color="light">
            Overview
          </ion-item-divider>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Title
              </ion-col>
              <ion-col col-8 text-wrap>
                <span class="caption" *ngIf="showImageContent">{{collection.title}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item text-wrap>
            <ion-row>
              <ion-col col-4>
                Description
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent">{{collection.description}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Privacy
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent">{{collection.privacy | uppercase}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Total Images
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent">{{collection.totalImages}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Total Prints
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent">{{collection.totalPrints}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Total Videos
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent">{{collection.totalVideos}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.dateCreated">
            <ion-row>
              <ion-col col-4>
                Date Created
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent"> {{collection.dateCreated | date: 'short'}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.dateModified">
            <ion-row>
              <ion-col col-4>
                Date Modified
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="showImageContent"> {{collection.dateModified | date: 'short'}}</span>
                <skeleton-item width="67%" *ngIf="!showImageContent"></skeleton-item>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-slide>
      <!--
        ===========================================================================
        ============================= IMAGE ====================================
        ===========================================================================
         -->
      <ion-slide id="image">
        <ion-grid>
          <ion-row *ngIf="showImageContent">
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of collection.images">
              <!-- <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'"
                (click)="viewImageDetail(item)"> -->
              <img-loader [src]="item.image400" fallback="./assets/img/thumb.jpg" useImg
                (click)="viewImageDetail(item)"></img-loader>
              <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
            </ion-col>
            <div class="myCardNotif" *ngIf="collection.images?.length < 1">
              <div padding text-center>
                <img src="./assets/img/error.png" />
                <p ion-text color="apperror">No images in the collection!</p>
                <button ion-button small color="narnoo" (click)="presentActionSheet()" [disabled]="!showImageContent"
                  *ngIf="(business.role == 1)">Add
                  Images</button>
              </div>
            </div>
          </ion-row>
          <ion-row *ngIf="!showImageContent">
            <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of imagesLoadingArr">
              <skeleton-item height="120px" radius="2px"></skeleton-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!--
        ===========================================================================
        ============================= PRINT ====================================
        ===========================================================================
         -->
      <ion-slide id="print">
        <ion-grid>
          <ion-row *ngIf="showImageContent">
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of collection.prints">
              <!-- <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'"
                (click)="viewPrintDetail(item)"> -->
              <img-loader [src]="item.image400" fallback="./assets/img/thumb.jpg" useImg
                (click)="viewPrintDetail(item)"></img-loader>
              <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
            </ion-col>
            <div class="myCardNotif" *ngIf="collection.prints?.length < 1">
              <div padding text-center>
                <img src="./assets/img/error.png" />
                <p ion-text color="apperror">No brochures in the collection!</p>
                <button ion-button small color="narnoo" (click)="presentActionSheet()" [disabled]="!showImageContent"
                  *ngIf="(business.role == 1)">Add
                  Brochure</button>
              </div>
            </div>
          </ion-row>
          <ion-row *ngIf="!showImageContent">
            <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of imagesLoadingArr">
              <skeleton-item height="120px" radius="2px"></skeleton-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!--
        ===========================================================================
        ============================= VIDEO ====================================
        ===========================================================================
         -->
      <ion-slide id="video">
        <ion-grid>
          <ion-row *ngIf="showImageContent">
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of collection.videos">
              <div class="myCard">
                <!-- <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'"
                  (click)="viewVideoDetail(item)"> -->
                <img-loader [src]="item.image400" fallback="./assets/img/thumb.jpg" useImg
                  (click)="viewVideoDetail(item)"></img-loader>
                <div class="myOverlay">
                  <div class="card-title">{{item.caption}}</div>
                </div>
                <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
              </div>
            </ion-col>
            <div class="myCardNotif" *ngIf="collection.videos?.length < 1">
              <div padding text-center>
                <img src="./assets/img/error.png" />
                <p ion-text color="apperror">No videos in the collection!</p>
                <button ion-button small color="narnoo" (click)="presentActionSheet()" [disabled]="!showImageContent"
                  *ngIf="(business.role == 1)">Add
                  Videos</button>
              </div>
            </div>
          </ion-row>
          <ion-row *ngIf="!showImageContent">
            <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of imagesLoadingArr">
              <skeleton-item height="120px" radius="2px"></skeleton-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!--
        ===========================================================================
        ============================= PRODUCT ====================================
        ===========================================================================
         -->
    </ion-slides>
  </ion-grid>
</ion-content>
<ion-footer no-border *ngIf="selectedSegment !='info'">
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="removeMediaFile()" color="primary" [disabled]="!showCheckbox">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
