page-collections {
  ion-segment {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    text-align: center;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }
  .swiper-slide {
    overflow-y: scroll;
    display: block;
    // width: 100vw !important;
  }
  .slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
  }

  .segment-button {
    height: 5rem !important;
    line-height: 1rem !important;

    label {
      font-size: 10px !important;
    }
    ion-icon {
      line-height: 3rem !important;
    }
  }

  .grid {
    .row {
      [col-xl-3] {
        padding: 2px;
      }
      [col-md-4] {
        padding: 2px;
      }
      [col-6] {
        padding: 2px;
      }
    }
  }

  .selected-image {
    background-color: white;
    display: inline-block;
    opacity: .5;
  }
  .checkbox {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 12px;
  }

  .checkbox-disabled {
    opacity: 1 !important;
    pointer-events: none;
  }

  .caption {
    font-size: 1.5rem;
    font-weight: 400;
    color: #488aff;
  }

  .myCard {
    position: relative;
  }

  .myOverlay {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 99;
    bottom: 0px; // opacity: 0.5;
    // background: #000;
    color: #fff;

    .card-title {
      font-size: 1.4rem;
      text-align: left;
      margin-left: 15px;
      line-height: 5rem;
    }
  }
}
