<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Privacy Settings</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveEntry()">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Email Notifications</ion-item-divider>
      <ion-item text-wrap>
        <ion-label>User requests business access notification</ion-label>
        <ion-toggle [(ngModel)]="notification.userRequest"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Business to business connection notification</ion-label>
        <ion-toggle [(ngModel)]="notification.connectRequest"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
          <ion-label>Process media notification</ion-label>
          <ion-toggle [(ngModel)]="notification.mediaProcess"></ion-toggle>
        </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
