<ion-header>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoSettings()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-item-divider color="light">Profile</ion-item-divider>
      <ion-item text-center>
        <div center text-center>
          <img [src]="profilePicture" (click)="createGravatar()">
        </div>
        <!-- <button ion-button clear>Edit Avatar using Gravatar</button> -->
      </ion-item>
      <ion-item>
        <ion-label stacked>First Name:</ion-label>
        <ion-input type="text" placeholder="First Name" name="firstname" id="firstname" [(ngModel)]="profile.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name:</ion-label>
        <ion-input type="text" placeholder="Last Name" name="lastname" id="lastname" [(ngModel)]="profile.lastName"></ion-input>
      </ion-item>
      <!-- <ion-item>
      <ion-label stacked>Email Address:</ion-label>
      <ion-input type="email" placeholder="Email" name="email" id="email" [(ngModel)]="profile.email"></ion-input>
    </ion-item> -->
      <div padding>
        <button ion-button small block (click)="saveProfile()">
          SAVE PROFILE
        </button>
      </div>
      <ion-item-divider color="light">Password</ion-item-divider>
      <ion-item>
        <ion-label stacked>Current Password:</ion-label>
        <ion-input type="password" placeholder="Current Password" name="currentpassword" id="currentpassword" [(ngModel)]="prof.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>New Password:</ion-label>
        <ion-input type="password" placeholder="New Password" name="password" id="password" [(ngModel)]="prof.newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Confirm Password:</ion-label>
        <ion-input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" [(ngModel)]="prof.confirmPassword"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button small block (click)="savePassword()">
          SAVE PASSWORD
        </button>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
