<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{connect_params.business}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewSettings()" *ngIf="business.type === 1 && business.role == 1">
        <ion-icon name="ios-settings-outline" item-start></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewFilter()"
        *ngIf="imageAction == 'media' && business.type === 1 && connect_params.type == 'distributor'">
        <ion-icon name="ios-funnel-outline" item-start></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment class="customsegment" mode="md" [(ngModel)]="imageAction" (ionChange)="segmentChanged()">
      <ion-segment-button value="media">
        <div>
          <ion-icon name="ios-images-outline"></ion-icon>
          <br>
          <label>Images</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="logos">
        <div>
          <ion-icon name="ios-image-outline"></ion-icon>
          <br>
          <label>Logos</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="print">
        <div>
          <ion-icon name="ios-print-outline"></ion-icon>
          <br>
          <label>Print</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <div>
          <ion-icon name="ios-videocam-outline"></ion-icon>
          <br>
          <label>Videos</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="albums">
        <div>
          <ion-icon name="ios-albums-outline"></ion-icon>
          <br>
          <label>Albums</label>
        </div>
      </ion-segment-button>
      <span [hidden]="connect_params.type !== 'operator'">
        <ion-segment-button value="products">
          <div>
            <ion-icon name="ios-cart-outline"></ion-icon>
            <br>
            <label>Products</label>
          </div>
        </ion-segment-button>
      </span>
      <span [hidden]="connect_params.type !== 'distributor'">
        <ion-segment-button value="collection">
          <div>
            <ion-icon name="ios-filing-outline"></ion-icon>
            <br>
            <label>Collection</label>
          </div>
        </ion-segment-button>
        <ion-segment-button value="channels">
          <div>
            <ion-icon name="ios-videocam-outline"></ion-icon>
            <br>
            <label>Channels</label>
          </div>
        </ion-segment-button>
      </span>
      <span [hidden]="business.type !== 1 && connect_params.type !== 'operator'">
        <ion-segment-button value="company">
          <div>
            <ion-icon name="ios-home-outline"></ion-icon>
            <br>
            <label>Company Bio</label>
          </div>
        </ion-segment-button>
      </span>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="imageAction == 'print'" text-center center>
    <ion-segment [(ngModel)]="printstatus" (ionChange)="printSegmentChanged($event)">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="expired">
        Expired
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div [ngSwitch]="imageAction">
      <div>
        <!--
        ===========================================================================
        =============================== IMAGE =====================================
        ===========================================================================
         -->
        <image-component *ngSwitchCase="'media'" [imagesArr]="imagesArr" [imagesLoadingArr]="imagesLoadingArr"
          [showContentImage]="showContentImage" [showContentImageErr]="showContentImageErr"
          [imageContentErr]="imageContentErr" (clickViewImageDetail)="viewImageDetail($event)"></image-component>
        <!--
        ===========================================================================
        =============================== LOGO =====================================
        ===========================================================================
         -->
        <logo-component *ngSwitchCase="'logos'" [logosArr]="logosArr" [imagesLoadingArr]="imagesLoadingArr"
          [showContentLogo]="showContentLogo" [showContentLogoErr]="showContentLogoErr"
          [logoContentErr]="logoContentErr" (clickViewLogoDetail)="viewLogoDetail($event)"></logo-component>
        <!--
        ===========================================================================
        =============================== PRINT =====================================
        ===========================================================================
         -->
        <print-component *ngSwitchCase="'print'" [printArr]="printArr" [imagesLoadingArr]="imagesLoadingArr"
          [showContentPrint]="showContentPrint" [showContentPrintErr]="showContentPrintErr"
          [printContentErr]="printContentErr" (clickViewPrintDetail)="viewPrintDetail($event)"></print-component>
        <!--
        ===========================================================================
        =============================== VIDEO =====================================
        ===========================================================================
         -->
        <video-component *ngSwitchCase="'videos'" [videosArr]="videosArr" [imagesLoadingArr]="imagesLoadingArr"
          [showContentVideos]="showContentVideos" [showContentVideosErr]="showContentVideosErr"
          [videosContentErr]="videosContentErr" (clickViewVideoDetail)="viewVideoDetail($event)"></video-component>
        <!--
        ===========================================================================
        =============================== PRODUCTS =====================================
        ===========================================================================
         -->
        <div *ngIf="connect_params.type == 'operator'">
          <products-component *ngSwitchCase="'products'" [productArr]="productArr" [fakeArr]="fakeArr"
            [showContentProducts]="showContentProducts" [showContentProductsErr]="showContentProductsErr"
            [productsContentErr]="productsContentErr" (clickViewProductDetails)="viewProductDetails($event)">
          </products-component>
        </div>
        <!--
        ===========================================================================
        =============================== ALBUMS =====================================
        ===========================================================================
         -->
        <albums-component *ngSwitchCase="'albums'" [albumsArr]="albumsArr" [imagesLoadingArr]="imagesLoadingArr"
          [showContentAlbums]="showContentAlbums" [showContentAlbumsErr]="showContentAlbumsErr"
          [albumsContentErr]="albumsContentErr" (clickViewAlbumImages)="viewAlbumImages($event)"></albums-component>
      </div>
      <!--
        ===========================================================================
        =============================== COLLECTION =====================================
        ===========================================================================
         -->
      <collection-component *ngSwitchCase="'collection'" [collectionArr]="collectionArr"
        [imagesLoadingArr]="imagesLoadingArr" [showContentCollections]="showContentCollections"
        [showContentCollectionsErr]="showContentCollectionsErr" [collectionsContentErr]="collectionsContentErr"
        (clickViewCollections)="viewCollections($event)"></collection-component>
      <!--
         ===========================================================================
         =============================== CHANNELS =====================================
         ===========================================================================
          -->
      <channels-component *ngSwitchCase="'channels'" [channelArr]="channelArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentChannels]="showContentChannels" [showContentChannelsErr]="showContentChannelsErr"
        [channelsContentErr]="channelsContentErr" (clickViewChannels)="viewChannels($event)"></channels-component>
      <!--
        ===========================================================================
        =============================== COMPANY BIO =====================================
        ===========================================================================
         -->
      <company-component *ngSwitchCase="'company'" [summaryArr]="summaryArr" [descriptionArr]="descriptionArr"
        [imagesLoadingArr]="imagesLoadingArr" [showContent]="showContent" [showContentErr]="showContentErr"
        [contentErr]="contentErr" [business]="business" (clickSelectSummary)="selectSummary($event)"
        (clickSelectDescription)="selectDescription($event)"></company-component>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
