connect-media {
  .customsegment {
    .segment-button {
      height: 5rem !important;
      line-height: 1rem;

      label {
        font-size: 10px !important;
      }
      ion-icon {
        line-height: 3rem !important;
      }
    }
  }

  .grid {
    .row {
      [col-xl-3] {
        padding: 2px;
      }
      [col-md-4] {
        padding: 2px;
      }
      [col-6] {
        padding: 2px;
      }
    }
  }

  .myCard {
    position: relative;
  }

  .myOverlay {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 99;
    bottom: 0px; // opacity: 0.5;
    // background: #000;
    color: #fff;

    .card-title {
      text-align: left;
      margin-left: 15px;
      line-height: 5rem;
    }
  }

  .grid {
    .row {
      [col-xl-3] {
        padding: 2px;
      }
      [col-md-4] {
        padding: 2px;
      }
      [col-6] {
        padding: 2px;
      }
    }
  }

  .myCard {
    position: relative;
  }

  .myOverlay {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 99;
    bottom: 0px; // opacity: 0.5;
    // background: #000;
    color: #fff;

    .card-title {
      text-align: left;
      margin-left: 15px;
      line-height: 5rem;
    }
  }

  .video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-size: 100px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }
    &:hover:before {
      color: #eee;
    }
  }

  .customsegment {
    .segment-button {
      height: 5rem !important;
      line-height: 1rem;

      label {
        font-size: 10px !important;
      }
      ion-icon {
        line-height: 3rem !important;
      }
    }
  }

  ion-segment {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    text-align: center;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }

  .custom-media-item {
    position: static;
    margin-bottom: 15px;
    -webkit-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease
  }

  .custom-media-contents[_ngcontent-c6] {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    min-height: 101px;
  }
  .load-background-elem {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 100px;
    position: relative;
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }

  .swiper-slide img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
