<ion-header>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{business.business}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="margin-right: 5px" (click)="viewNotifications()" *ngIf="business.role == 1">
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge id="cart-badge" color="danger" *ngIf="totalNotification > 0">{{totalNotification}}</ion-badge>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)"
        *ngIf="imageAction !='logos' && imageAction != 'videos'">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment class="customsegment" mode="md" [(ngModel)]="imageAction" (ionChange)="segmentChanged()">
      <ion-segment-button value="media">
        <div>
          <ion-icon ios="ios-images-outline" md="ios-images-outline"></ion-icon>
          <br>
          <label>Images</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="logos">
        <div>
          <ion-icon ios="ios-image-outline" md="ios-image-outline"></ion-icon>
          <br>
          <label>Logos</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="print">
        <div>
          <ion-icon ios="ios-print-outline" md="ios-print-outline"></ion-icon>
          <br>
          <label>Print</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <div>
          <ion-icon ios="ios-videocam-outline" md="ios-videocam-outline"></ion-icon>
          <br>
          <label>Videos</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="albums">
        <div>
          <ion-icon ios="ios-albums-outline" md="ios-albums-outline"></ion-icon>
          <br>
          <label>Albums</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="collection">
        <div>
          <ion-icon ios="ios-filing-outline" md="ios-filing-outline"></ion-icon>
          <br>
          <label>Collection</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="channels" [hidden]="business.type !== 2">
        <div>
          <ion-icon ios="ios-videocam-outline" md="ios-videocam-outline"></ion-icon>
          <br>
          <label>Channels</label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="company" [hidden]="business.type !== 1">
        <div>
          <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
          <br>
          <label>Company Bio</label>
        </div>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="myInput" (ionClear)="segmentChanged()" debounce="600"
      *ngIf="business.type === 2 && imageAction !== 'company'"></ion-searchbar>
    <ion-item *ngIf="showFinishingUpload">
      <ion-spinner item-start></ion-spinner>
      <small ion-text color="primary">Finishing Up...</small>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar text-center center class="media-toolbar" [hidden]="business.role !== 1">
    <ion-buttons left
      *ngIf="(imageAction == 'media' || imageAction == 'print' || imageAction == 'logos' || imageAction == 'videos' || imageAction == 'albums' || imageAction == 'collection' || imageAction == 'channels' || imageAction == 'company')&& (business.role == 2 || business.role == 1)">
      <button ion-button icon-only (click)="uploadFile()"
        *ngIf="(imageAction == 'media' || imageAction == 'print' || imageAction == 'logos' || imageAction == 'videos') && showUpload">
        <ion-icon name="ios-cloud-upload-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="createChannels()" *ngIf="imageAction == 'channels' && (business.role == 1)">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="createCollections()"
        *ngIf="imageAction == 'collection' && (business.role == 1)">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="createCompanyBio()"
        *ngIf="imageAction == 'company' && business.type == 1 && (business.role == 1)">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="createAlbums()" *ngIf="imageAction == 'albums'">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="printstatus" (ionChange)="printSegmentChanged($event)" [hidden]="imageAction !== 'print'">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="expired">
        Expired
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right
      *ngIf="(imageAction == 'media' || imageAction == 'print' || imageAction == 'logos' || imageAction == 'videos' || imageAction == 'albums') && (business.role == 2 || business.role == 1)">
      <button ion-button clear color="primary" (click)="selectClick()" *ngIf="!showCheckbox">
        Select
      </button>
      <button ion-button clear color="primary" (click)="cancelClick()" *ngIf="showCheckbox">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!showFinishingUpload">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div [ngSwitch]="imageAction">
      <!--
        ===========================================================================
        ============================= IMAGE ====================================
        ===========================================================================
         -->
      <image-component *ngSwitchCase="'media'" [imagesArr]="imagesArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentImage]="showContentImage" [showContentImageErr]="showContentImageErr"
        [imageContentErr]="imageContentErr" [showCheckbox]="showCheckbox"
        (clickViewImageDetail)="viewImageDetail($event)" (clickUploadFile)="uploadFile($event)"></image-component>
      <!--
        ===========================================================================
        ============================= LOGO ====================================
        ===========================================================================
         -->
      <logo-component *ngSwitchCase="'logos'" [logosArr]="logosArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentLogo]="showContentLogo" [showContentLogoErr]="showContentLogoErr" [logoContentErr]="logoContentErr"
        [showCheckbox]="showCheckbox" (clickViewLogoDetail)="viewLogoDetail($event)"
        (clickUploadFile)="uploadFile($event)"></logo-component>
      <!--
        ===========================================================================
        ============================= PRINT ====================================
        ===========================================================================
         -->
      <print-component *ngSwitchCase="'print'" [printArr]="printArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentPrint]="showContentPrint" [showContentPrintErr]="showContentPrintErr"
        [printContentErr]="printContentErr" [showCheckbox]="showCheckbox"
        (clickViewPrintDetail)="viewPrintDetail($event)" (clickUploadFile)="uploadFile($event)"></print-component>
      <!--
        ===========================================================================
        ============================= VIDEO ====================================
        ===========================================================================
         -->
      <video-component *ngSwitchCase="'videos'" [videosArr]="videosArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentVideos]="showContentVideos" [showContentVideosErr]="showContentVideosErr"
        [videosContentErr]="videosContentErr" [showCheckbox]="showCheckbox"
        (clickViewVideoDetail)="viewVideoDetail($event)" (clickUploadFile)="uploadFile($event)"></video-component>
      <!--
        ===========================================================================
        ============================= ALBUMS ====================================
        ===========================================================================
         -->
      <albums-component *ngSwitchCase="'albums'" [albumsArr]="albumsArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentAlbums]="showContentAlbums" [showContentAlbumsErr]="showContentAlbumsErr"
        [albumsContentErr]="albumsContentErr" [showCheckbox]="showCheckbox"
        (clickViewAlbumImages)="viewAlbumImages($event)" (clickCreateAlbums)="createAlbums($event)">
      </albums-component>
      <!--
        ===========================================================================
        ============================= COLLECTIONS ====================================
        ===========================================================================
         -->
      <collection-component *ngSwitchCase="'collection'" [collectionArr]="collectionArr"
        [imagesLoadingArr]="imagesLoadingArr" [showContentCollections]="showContentCollections"
        [showContentCollectionsErr]="showContentCollectionsErr" [collectionsContentErr]="collectionsContentErr"
        (clickViewCollections)="viewCollections($event)" (_deleteCollection)="deleteCollection($event.item,$event.ev)"
        (_createCollections)="createCollections($event)"></collection-component>

      <!--
        ===========================================================================
        ============================= CHANNELS ====================================
        ===========================================================================
         -->
      <channels-component *ngSwitchCase="'channels'" [channelArr]="channelArr" [imagesLoadingArr]="imagesLoadingArr"
        [showContentChannels]="showContentChannels" [showContentChannelsErr]="showContentChannelsErr"
        [channelsContentErr]="channelsContentErr" (clickViewChannels)="viewChannels($event)"
        (clickUpdateChannel)="updateChannnel($event.item,$event.fab)"
        (clickDeleteChannel)="deleteChannel($event.item,$event.fab)" (_createChannels)="createChannels($event)">
      </channels-component>
      <!--
        ===========================================================================
        ============================= COMPANY ====================================
        ===========================================================================
         -->
      <company-component *ngSwitchCase="'company'" [summaryArr]="summaryArr" [descriptionArr]="descriptionArr"
        [imagesLoadingArr]="imagesLoadingArr" [showContent]="showContent" [showContentErr]="showContentErr"
        [contentErr]="contentErr" [business]="business" (clickSelectSummary)="selectSummary($event)"
        (clickUpdateBio)="updateBio($event.item,$event.type)" (clickSelectDescription)="selectDescription($event)">
      </company-component>
      <!--
        ===========================================================================
        ============================= COMPANY ====================================
        ===========================================================================
         -->
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
<ion-footer no-border *ngIf="showCheckbox">
  <ion-toolbar color="light">
    <ion-title>&nbsp;</ion-title>
    <ion-buttons end *ngIf="(business.role == 1 || business.role == 2)">
      <button ion-button icon-only (click)="deleteSelected()" color="danger" [disabled]="!showCheckbox">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
