page-images-tab {
  // MASONRY STYLE OF IMAGES
  .pins {
    column-count: 2;
  }

  .pin {
    display: inline-block;
  }

  .card {
    margin-top: 10px;
  }

  .post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  // Media queries
  @media (min-width: 480px) {
    .pins {
      column-count: 3;
    }
  }

  @media (min-width: 640px) {
    .pins {
      column-count: 4;
    }
  }

  // MASONRY STYLE OF IMAGES

  .noimage {
    ion-spinner {
      position: absolute !important;
      top: 40%;
      left: 40%;
    }
  }

  .avatar {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
  }


  .customsegment {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    text-align: center;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    .segment-button {
      height: 5rem !important;
      line-height: 1rem;

      label {
        font-size: 10px !important;
      }

      ion-icon {
        line-height: 3rem !important;
      }
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }

  .swiper-slide img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
