<ion-list>
  <button ion-item (click)="uploadFile()" *ngIf="showUpload && business.role == 1">
    <ion-icon name="ios-cloud-upload-outline" item-start></ion-icon>
    Upload
  </button>
  <button ion-item (click)="createAlbums()" *ngIf="
      imageAction === 'albums' && (business.role == 2 || business.role == 1)
    ">
    <ion-icon name="ios-create-outline" item-start></ion-icon>
    Create Album
  </button>
  <button ion-item (click)="createCollections()" *ngIf="
      imageAction === 'collection' &&
      business.role == 1
    ">
    <ion-icon name="ios-create-outline" item-start></ion-icon>
    Create Collection
  </button>
  <button ion-item (click)="createChannels()" *ngIf="
      business.type === 2 &&
      imageAction === 'channels' &&
      business.role == 1
    ">
    <ion-icon name="ios-create-outline" item-start></ion-icon>
    Create Channel
  </button>
  <button ion-item (click)="createCompanyBio()" *ngIf="
      imageAction === 'company' &&
      business.role == 1
    ">
    <ion-icon name="ios-create-outline" item-start></ion-icon>
    Create Company Bio
  </button>
  <button ion-item (click)="viewFilter()" *ngIf="
      business.type === 2 &&
      (imageAction === 'media' || imageAction === 'print')
    " [disabled]="!showContentImage">
    <ion-icon name="ios-funnel-outline" item-start></ion-icon>
    Filter
  </button>
  <button ion-item (click)="viewFilter()" *ngIf="
      business.type === 1 &&
      imageAction === 'print'
    " [disabled]="!showContentImage">
    <ion-icon name="ios-funnel-outline" item-start></ion-icon>
    Filter
  </button>
</ion-list>
