<ion-header no-border>
  <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img class="headerLogo" src="./assets/img/logo.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchBusiness()">
        <ion-icon ios="ios-search-outline" md="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="infoHome">
    <h5>Please Select The Business</h5>
    <ion-buttons end>
      <button ion-button icon-only (click)="createBusiness()">
        <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="cache && !refreshSubscription">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="showContent">
      <ion-list no-line *ngIf="businessArr.length > 0">
        <ion-item-sliding *ngFor="let item of businessArr">
          <button ion-item (click)="gotoProfile(item)" class="item-ribbon">
            <span class="ribbon cruzeiro" *ngIf="item.paid">
              <span>PREMIUM</span>
            </span>
            <ion-thumbnail item-start>
              <!-- <img [src]="item.avatar.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
              <img-loader [src]="item.avatar?.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg></img-loader>
            </ion-thumbnail>
            <h2>{{item.business}}</h2>
            <p><span ion-text color="primary">{{item.businessType}}</span> - <small>{{item.businessRole}}</small></p>
          </button>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="unlinkBusiness(item)">
              <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
              Unlink
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="myCardNotif" *ngIf="businessArr.length < 1">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <h3>No linked accounts</h3>
        </div>
      </div>
    </div>
    <div *ngIf="!showContent">
      <ion-list>
        <ion-item *ngFor="let item of fakeArr">
          <ion-avatar item-start>
            <skeleton-item height="50px" width="50px"></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
  <!-- <ion-fab right bottom>
    <button ion-fab (click)="testToast()">
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
