page-home {
  .infoHome {
    text-align: center;
    height: 70px;

    /* background: #56CCF2 !important;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2) !important;
    background: linear-gradient(to right, #2F80ED, #56CCF2) !important;

    .toolbar-background {
      background: #4568DC !important;
      background: -webkit-linear-gradient(to right, #B06AB3, #4568DC) !important;
      background: linear-gradient(to right, #B06AB3, #4568DC) !important;
    } */

    .toolbar-background {
      background: #5FB3DC !important;
    }

    .bar-buttons {
      .bar-button {
        color: #fff !important;
      }
    }

    h5 {
      color: #fff;
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
  .item-block {
    border-bottom: 0.55px solid #c8c7cc;
  }

  .list-ios .item-block .item-inner {
    border-bottom: none !important;
  }
}
