<ion-header no-border>
    <ion-navbar color="narnoo">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="narnoo">
  <ion-grid fixed>
    <div class="loginContent">
      <img class="loginLogo" src="./assets/img/logo.png">
      <p text-center class="loginInfo">Your password will be sent to your phone
        <br> or email address</p>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input type="email" placeholder="Email Address" name="email" required [(ngModel)]="users.email"></ion-input>
            </ion-item>
            <!-- <div text-center class="divider">
            <span color="light">OR</span>
          </div>
          <ion-item>
            <ion-input type="text" placeholder="Phone" name="password" required [(ngModel)]="users.password"></ion-input>
          </ion-item> -->
          </ion-list>
        </ion-col>
      </ion-row>
      <div class="signup-col">
        <button ion-button block round class="button-narnoo-login" (click)="forgotPassword()">Submit</button>
      </div>
    </div>
  </ion-grid>
</ion-content>
