page-forgot_password {
  ion-content {
    background: url('../assets/login.png') no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  ion-navbar .toolbar-background {
    background: transparent !important;
  }
  .loginContent {
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: center;

    .loginLogo {
      width: 25vw;
      height: auto;
      padding-top: 40px;
      padding-bottom: 10px;
    }

    .loginInfo {
      color: #fff;
      padding-bottom: 20px;
    }
  }

  .list-ios[inset] {
    margin: 0px !important;
  }

  ion-list {
    margin: 0 !important;
  }

  .list-ios>.item-block:first-child {
    border-top: none !important;
  }

  ion-item {
    font-size: 16px;
    font-weight: regular;
    background: transparent !important;
    box-shadow: none !important;
    margin-bottom: 10px !important;
    border-bottom: solid 1.3px #fff !important;

    ion-icon {
      color: #fff !important;
    }

    .item-inner {
      border-bottom: none !important;
    }

    .text-input {
      color: #fff !important;
    }
  }

  ion-input {
     ::-webkit-input-placeholder {
      text-align: left;
      color: #fff !important;
    }

     :-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
      color: #fff !important;
    }

     ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
      color: #fff !important;
    }

     :-ms-input-placeholder {
      text-align: left;
      color: #fff !important;
    }
  }

  .signup-col {
    padding-left: 50px;
    padding-right: 50px;
  }

  .divider {
    padding-top: 40px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 1.5rem;
  }

  .button-narnoo-login {
    color: #488aff !important;
    background-color: #fff !important;
    font-weight: 600;
  }
}
