<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{item.brochure_caption}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showLoading"
        *ngIf="(action !== 'connect' && action !== 'notif') && (business.role == 1) && !showError">
        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" [disabled]="showLoading" *ngIf="!showError">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="fixing_grid">
    <div *ngIf="!showLoading">
      <div *ngIf="!showError">
        <div text-center class="profileimage">
          <ion-slides pager paginationType="progress">
            <ion-slide *ngFor="let pics of item.previewPages; let $index = index;">
              <img [src]="pics | linkHttp" onError="this.src='./assets/img/thumb.jpg'"
                imageViewer="{{item.zoomPages[$index]}}">
            </ion-slide>
          </ion-slides>
        </div>
        <ion-list>
          <ion-item>
            <ion-row class="action-buttons">
              <ion-col text-center>
                <button ion-button icon-start clear small color="dark" (click)="presentActionSheet()"
                  [disabled]="showLoading" *ngIf="(action !== 'connect' && action !== 'notif') && (business.role == 1)">
                  <ion-icon name="ios-create-outline"></ion-icon>
                  <div>Edit</div>
                </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button icon-start clear small block color="dark" (click)="shareNow()"
                  [disabled]="!business.paid"
                  *ngIf="(action != 'connect' && action !== 'notif') && (business.role == 1 || business.role == 2)">
                  <ion-icon name="share-alt"></ion-icon>
                  <div>Share</div>
                </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button icon-start clear small color="dark" (click)="downloadImage()"
                  [disabled]="!business.paid">
                  <ion-icon name="md-download"></ion-icon>
                  <div>Download</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Name</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption" *ngIf="item.brochure_caption">{{item.brochure_caption}}</span>
                <span class="caption" *ngIf="item.caption">{{item.caption}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.size">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Size</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.size | fileSize}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.type">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Type</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.type}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.format">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Format</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.format}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.type">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Item Type</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.type}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.page_no">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Pages</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.page_no}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.uploadedAt">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Uploaded</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.uploadedAt | date: 'short'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.validityDate">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Validity</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.validityDate | date: 'short'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.privilege">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Privacy</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption" ion-text color="primary">{{item.privilege | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
      <div class="myCardNotif" *ngIf="showError">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{contentErr}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showLoading">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-row margin-top>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
