card-images {
  .wrapper {
    position: relative;
  }

  .wrapper p {
    bottom: 5%;
    color: white;
    font-family: Roboto;
    font-size: 2.25em;
    font-weight: 600;
    left: 0;
    padding: 1.25em 1.75em;
    position: absolute;
  }

  ion-grid {
    ion-col {
      padding: 2px !important;
    }
  }
}
