<ion-card class="card-feed">
  <ion-item no-lines text-wrap>
    <ion-avatar item-start>
      <img-loader [src]="avatar.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-avatar>
    <h2><b>{{item.businessName}}</b></h2>
    <p><small>{{item.timestamp | timesago}}</small></p>
  </ion-item>
  <ion-item *ngIf="item.itemType != 'following' && item.itemType != 'joined'" text-wrap>
    <p><small>{{item.statement}}</small></p>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let row of item.media | slice: 0:4; let $index= index;">
        <div class="progressive-image wrapper">
          <div class="loadingImage" [ngStyle]="{'background': 'url(' + (row.image400 | linkHttp )+ ')'}"
            [attr.data-image]="row.xxlargeImage | linkHttp"></div>
          <div class="overlay" imageViewer="{{row.xxlargeImage | linkHttp}}"></div>
          <p *ngIf="$index == 4" (click)="viewImageDetail(item)">+{{item.moreCount}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row justify-content-start class="feed-actions">
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="viewFeedDetails(item.itemType,item)">
        <ion-icon name="ios-eye-outline"></ion-icon>
        <div>View</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="downloadImage(item)" [disabled]="item.disableDownload">
        <ion-icon name="ios-cloud-download-outline"></ion-icon>
        <div>Download</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="shareActivity(item)" [disabled]="item.disableShare">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
