<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons start>
      <button ion-button icon-only (click)="back()">
        <ion-icon ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <div text-center center>
      <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls preload="auto" data-setup='{}'>
        <source [src]="item.videoPreview | linkHttp" type="video/mp4">
      </video>
    </div>
  </ion-grid>
</ion-content>
