card-albums {
  .swiper-slide img {
    width: 100% !important;
  }

  .myOverlay {
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    background: #000;
    color: #fff;

    .card-title {
      text-align: center;
      line-height: 5rem;
    }
  }
}
