<ion-header>
  <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>More</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list no-lines>
      <button ion-item (click)="viewNotifications()" *ngIf="business.role == 1">
        <ion-icon name="ios-notifications-outline" item-start></ion-icon>
        Notifications
        <ion-badge color="danger" item-end *ngIf="totalNotification > 0">{{totalNotification}}</ion-badge>
      </button>
      <button ion-item (click)="openStaff()" *ngIf="business.type == 1">
        <ion-icon name="ios-people-outline" item-start></ion-icon>
        Staff Directory
      </button>
      <button ion-item (click)="openBusinessUsers()" *ngIf="business.role == 1">
        <ion-icon name="ios-contacts-outline" item-start></ion-icon>
        Business Users
      </button>
      <button ion-item (click)="openBusinessProfile()">
        <ion-icon name="ios-contact-outline" item-start></ion-icon>
        Business Profile
      </button>
      <button ion-item (click)="viewSocialLinks()" *ngIf="business.type == 1">
        <ion-icon name="ios-link-outline" item-start></ion-icon>
        Social Link
      </button>
      <button ion-item (click)="openLocations()" *ngIf="business.type == 2">
        <ion-icon name="ios-compass-outline" item-start></ion-icon>
        Location
      </button>
      <button ion-item (click)="openCreators()" *ngIf="business.type == 2">
        <ion-icon name="ios-people-outline" item-start></ion-icon>
        Creators
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
