<ng-container *ngIf="showContentAlbums">
  <ion-grid no-padding *ngIf="!showContentAlbumsErr">
    <ion-row>
      <ion-col col-6 no-padding *ngFor="let item of albumsArr">
        <ion-card class="album-card" (click)="viewAlbumImages(item)">
          <img src="./assets/img/thumb.jpg" *ngIf="item.media == null">
          <img-loader [src]="item.media?.images[0]?.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg
            [ngClass]="{'selected-image': item.selected}" *ngIf="item.media != null"></img-loader>
          <ion-card-header>
            <h2>{{item.title}}</h2>
            <p *ngIf="item.media?.images">{{item.media?.images?.length}} photos</p>
          </ion-card-header>
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myCardNotif" *ngIf="!showContentAlbumsErr && albumsArr.length < 1">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">No albums found!</p>
      <button ion-button small color="narnoo" (click)="createAlbums()" [disabled]="!showContentAlbums"
        *ngIf="action !== 'connect' && (business.role == 1 || business.role == 2)">Create Album</button>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentAlbumsErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{albumsContentErr.message}}</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!showContentAlbums">
  <ion-grid>
    <ion-row>
      <ion-col class="noimage" col-4 *ngFor="let item of imagesLoadingArr">
        <skeleton-item height="85px" width="114px" radius="2px"></skeleton-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
