albums-component {
  .album-card {
    img {
      height: auto;
      width: 100%;
    }

    ion-card-header {
      padding: 10px;
    }

    .selected-image {
      background-color: white;
      display: block;
      opacity: .5;
    }

    .checkbox {
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 20px;
    }

    .checkbox-disabled {
      opacity: 1 !important;
      pointer-events: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 6px;
      z-index: -1;
      border-top: 1px solid #C7C7C7;
      width: calc(100% - 28px);
    }

    &:after {
      content: "";
      top: 2px;
      position: absolute;
      z-index: -1;
      border-top: 1px solid #C7C7C7;
      width: calc(100% - 40px);
      margin: 0;
      left: 20px;
    }
  }
}
