// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  narnoo:	  #108fcf,
  share0:	  #1091CF,
  share1:	  #5FB3DC,
  share2:	  #37A1D4,
  share3:	  #0578B0,
  share4:	  #045881,
  GreyLight: #EEF5FC,
  google:   #e9142b,
  facebook: #0346bb,
  twitter: #00aced,
  flickr: #ff0084,
  pinterest: #cb2027,
  linkedin: #007bb6,
  vimeo: #1ab7ea,
  tumblr: #32506d,
  instagram: #bc2a8d,
  signup:   #045881,
  energized: #ffc900,
  apperror: #6f6f6f,
  muted:      #c5c5c5,
  warning: #fd9a18,
  color1: #38ADFF,
  color2: #094074,
  color3: #3c6997,
  color4: #ffdd4a,
  color5: #fe9000,
  color6: #1DA7D5
);

$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-color-active: #000;
$tabs-ios-tab-color-inactive: #C7C7C7;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$tabs-md-tab-text-transform-active: 0;
$tabs-md-tab-text-transition: 0;
$tabs-md-tab-icon-transform-active: 0;
$tabs-md-tab-color-active: #000;
$tabs-md-tab-color-inactive: #C7C7C7;


@import "node_modules/videojs-font/scss/icons";
@import "video-js";
@import "materialPreloader";
