<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="close($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Channel Entry</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <form [formGroup]="channelForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Title</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.title.errors">
          <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.title.errors" class="help-block" text-wrap>
          <div *ngIf="f.title.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Channel Title is required.
          </div>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="save()">SAVE</button>
  </ion-toolbar>
</ion-footer> -->
