<ion-card class="card-feed">
  <ion-item no-lines text-wrap>
    <ion-avatar item-start>
      <img-loader [src]="avatar.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-avatar>
    <h2><b>{{item.businessName}}</b></h2>
    <p><small>{{item.timestamp | timesago}}</small></p>
  </ion-item>
  <ion-item *ngIf="item.itemType != 'following' && item.itemType != 'joined'" text-wrap>
    <p><small>{{item.statement}}</small></p>
  </ion-item>
  <div text-center center>
    <video #mediaVideo class="video-js vjs-big-play-centered" [id]="'singleVideo' + item.objectId" controls
      playsinline loop preload="auto" data-setup='{}' [poster]="media.image800 | linkHttp">
      <source [src]="media.streamMP4 | linkHttp" type="video/mp4">
      <source [src]="media.streamWebm | linkHttp" type="video/webm">
    </video>
  </div>
  <ion-row justify-content-start class="feed-actions">
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="viewFeedDetails(item.itemType,item)">
        <ion-icon name="ios-eye-outline"></ion-icon>
        <div>View</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="downloadImage(item)"
        [disabled]="item.disableDownload">
        <ion-icon name="ios-cloud-download-outline"></ion-icon>
        <div>Download</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="shareActivity(item)"
        [disabled]="item.disableShare">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
