<ion-menu [content]="content" side="left" id="mainMenu" [swipeEnabled]="false">
  <ion-content>
    <ion-list no-lines class="pu-item-list">
      <ion-item class="item-avatar" *ngIf="users !== null" detail-none>
        <ion-avatar item-start>
          <img [src]="profilePicture">
        </ion-avatar>
        <h2>{{users.name}}</h2>
      </ion-item>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" detail-none>
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logOutApp()" detail-none>
        <ion-icon name="ios-exit-outline" item-start></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <button no-lines detail-none ion-item (click)="clearCache()">
        <ion-icon name="ios-settings-outline" item-start></ion-icon>
        Clear Cache
      </button>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title color="primary">{{_appVersion.appName}} <small ion-text
          color="primary">{{_appVersion.versionNumber}}</small></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-menu [content]="content" side="right" id="filterMenu" [swipeEnabled]="false">
  <ion-header>
    <ion-navbar>
      <ion-title>Filters</ion-title>
      <ion-buttons right>
        <button ion-button clear (click)="clearFilter()">CLEAR</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="filterWhat == 'media' || filterWhat == 'connected-media'">
      <ion-item>
        <ion-label stacked>--Category--</ion-label>
        <ion-select [(ngModel)]="filter.category" placeholder="--Select Category--">
          <ion-option [value]="item" *ngFor="let item of categoriesArr">{{item.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>--Location--</ion-label>
        <ion-select [(ngModel)]="filter.location" placeholder="--Select Location--">
          <ion-option [value]="item" *ngFor="let item of locationArr">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>--Photographer--</ion-label>
        <ion-select [(ngModel)]="filter.creator" placeholder="--Select Photographer--">
          <ion-option [value]="item" *ngFor="let item of creatorArr">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="filterWhat == 'print'">
      <ion-item>
        <ion-label stacked>--Filter Items by Type--</ion-label>
        <ion-select [(ngModel)]="filter.type" placeholder="--Filter by Type--">
          <ion-option value="Guide">Guide</ion-option>
          <ion-option value="Infographic">Infographic</ion-option>
          <ion-option value="Itirenary">Itirenary</ion-option>
          <ion-option value="Map">Map</ion-option>
          <ion-option value="Promotional">Promotional</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <button ion-button block style="margin:0px !important;" (click)="applyFilter()">Apply Filters</button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
