html,
body {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
  background: #efefef;
}

ion-app.ios {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
  background: #efefef;
}

.typo-r10 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.typo-r12 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
}

.typo-r14 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.375rem !important;
}

.typo-r16 {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.7rem !important;
}

.typo-m12 {
  font-family: -apple-system, HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Roboto, Droid Sans, Arial Bold, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.typo-m18 {
  font-family: -apple-system, HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Roboto, Droid Sans, Arial Bold, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}

.typo-l14 {
  font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

.load-bar {
  z-index: 1;
}

ion-header .toolbar {
  margin: auto;
}

ion-navbar {
  ion-buttons {
    button {
      ion-badge {
        position: absolute;
        top: -0.2rem;
        right: -1.2rem;
        opacity: 0.9;

        &~ion-icon {
          margin-right: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {

  ion-navbar.toolbar,
  ion-header .toolbar[fixed],
  ion-footer .toolbar[fixed],
  ion-tabs .tabbar {
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
}

#filterMenu {
  .menu-inner {
    ion-footer {
      [ion-button] {
        margin: 0 !important;
      }
    }
  }
}

.item-avatar {
  height: 120px !important;
}

.pu-item-list ion-item {
  ion-avatar img {
    width: 52px !important;
    height: 52px !important;
  }
}

ion-navbar {

  /* .toolbar-background {
    background: #4568DC !important;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC) !important;
    background: linear-gradient(to right, #B06AB3, #4568DC) !important;
  } */
  // .toolbar-background {
  //   background: #108fcf !important;
  // }
}

ion-select {
  width: 100%;
  max-width: 100%;
}

.invalid {
  border-bottom: 2px solid color($colors, warning) !important;
}


.help-block {
  color: color($colors, warning);
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 2.4rem;
  text-align: left;
  padding-top: 12px;

  .label {
    margin: 0 !important;
  }
}

.narnoo-old {
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
}

.narnoo {
  background: #108fcf;
}

.button-ios-light {
  color: #4B4246;
  background-color: #fff;
  font-weight: 600;
}

.headerLogo {
  width: 32px;
}


.progressive-image {
  position: relative;
  overflow: hidden;
}

.progressive-image div {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  background-size: cover !important;
  background-position: center bottom !important;
}

.progressive-image .loadingImage {
  filter: blur(5px);
}

.progressive-image .overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
}

image-viewer {
  .toolbar-background-ios {
    background: transparent !important;
  }
}

.popover-content {
  width: 250px !important;

  .list-ios {
    margin: 0;
  }
}

[hidden] {
  display: none !important;
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }

  .custom-card {
    margin: 0 !important;
    width: 100% !important;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .custom-card-title {
    position: absolute;
    top: 36%;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .custom-card-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 10%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle2 {
    font-size: 1.0em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle3 {
    font-size: 1.0em;
    position: absolute;
    top: 68%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle4 {
    font-size: 1.0em;
    position: absolute;
    top: 76%;
    width: 100%;
    color: #fff;
  }
}

.video-js {
  width: 100% !important;
  height: 100% !important;
}

.vjs-poster {
  // width: 100vw;
}

.video-js .vjs-tech {
  width: 100vw !important;
  object-fit: cover !important;
}

.video-js .vjs-control-bar {
  width: 100vw !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.progress-container {

  .progress,
  progress[value] {
    width: 100%;
    border: none;
    margin: 5px 0;
    height: 5px;
    display: block;
    appearance: none;
    -webkit-appearance: none;

    &::-webkit-progress-bar {
      background-color: lighten(map-get($colors, primary), 35%);
    }

    &::-webkit-progress-value {
      background-color: map-get($colors, primary);
    }
  }
}

.help-block {
  color: #ef473a;
  font-size: 14px;
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding-top: 45vh;
}

.myCardNotif {
  margin: 12px;
  width: calc(100% - 24px);
  font-size: 1.4rem;
  background: #fff;
  display: block;
  overflow: hidden;
  padding-top: 5em;

  img {
    width: 6em;
  }
}

@mixin ribbonize ($ribbon-color, $text-color: white, $border-width: 3px) {
  span {
    color: $text-color;
    background: $ribbon-color;

    &::before {
      border-left: $border-width solid $ribbon-color;
      border-top: $border-width solid $ribbon-color;
    }

    &::after {
      border-right: $border-width solid $ribbon-color;
      border-top: $border-width solid $ribbon-color;
    }
  }
}

$default: #f53d3d;
$cruzeiro: #387ef5;
$atletico: darken(#f4f4f4, 45%);
$javascript: #f7e023;
$narnoo: #108fcf;

.item-ribbon {
  background-color: #fff;
  position: relative;
  filter: none;
  opacity: 1;

  .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 2;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;

    span {
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      background: $default;
      position: absolute;
      top: 19px;
      right: -21px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid $default;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $default;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid $default;
        border-bottom: 3px solid transparent;
        border-top: 3px solid $default;
      }
    }
  }
}

.ribbon.narnoo {
  @include ribbonize($narnoo);
}

.ribbon.cruzeiro {
  @include ribbonize($cruzeiro);
}

.ribbon.atletico {
  @include ribbonize($atletico);
}

.ribbon.javascript {
  @include ribbonize($javascript, black);
}

.offline-toast-notif-success {
  .toast-wrapper {
    transform: translateY(0%) !important;
    text-align: center;
    background-color: map-get($colors, secondary);
    border-radius: 0px !important;
    width: 100% !important;
    right: 0;
    left: 0;
    top: 35px !important;
    height: 30px;
  }

  .toast-message {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
}

.offline-toast-notif-danger {
  .toast-wrapper {
    transform: translateY(0%) !important;
    text-align: center;
    background-color: map-get($colors, danger);
    border-radius: 0px !important;
    width: 100% !important;
    right: 0;
    left: 0;
    top: 35px !important;
    height: 30px;
  }

  .toast-message {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
}
