<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="selectClick()" *ngIf="!showCheckbox" [disabled]="!showContent">
        Select
      </button>
      <button ion-button clear (click)="cancelClick()" *ngIf="showCheckbox" [disabled]="!showContent">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-grid>
      <ion-row *ngIf="showContent && (media =='image' || media == 'albums')">
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of imagesArr">
          <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'" [ngClass]="{'selected-image': item.selected}" (click)="checkChanged(item)">
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showContent && media =='print'">
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of printsArr">
          <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'" [ngClass]="{'selected-image': item.selected}" (click)="checkChanged(item)">
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showContent && media =='video'">
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of videosArr">
          <img [src]="item.previewImage | linkHttp" onError="this.src='./assets/img/thumb.jpg'" [ngClass]="{'selected-image': item.selected}" (click)="checkChanged(item)">
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!showContent">
        <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
          <skeleton-item height="120px" radius="2px"></skeleton-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="addImage()" [disabled]="!showContent && showCheckbox">Add Selected</button>
    <!-- <ion-title (click)="addImage()">
      <span ion-text color="primary">Add Selected</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="primary" [disabled]="!showCheckbox">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>
