<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create Shout</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="createPost()" [disabled]="!inputPost">
        Post
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-list>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img-loader [src]="business.avatar?.previewImage| linkHttp" fallback="'./assets/img/user.png'" useImg>
        </img-loader>
      </ion-avatar>
      <h2>{{business.business}}</h2>
      <p>{{business.businessType}}</p>
    </ion-item>
    <ion-item no-lines padding-top>
      <textarea #myInput id="myInput" autofocus rows="1" [(ngModel)]="inputPost" (keydown)="change(inputPost)"
        (keyup)="resize()" placeholder="Post a business shout out"></textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer [keyboardAttach]="content">
  <ion-toolbar *ngIf="showLink">
    <ion-item-divider color="light">
      Place link here
      <div item-end>
        <ion-icon name="ios-close-outline" (click)="showLink = !showLink"></ion-icon>
      </div>
    </ion-item-divider>
    <ion-item>
      <ion-input type="text" [(ngModel)]="inputLink" placeholder="http://www.example.com"></ion-input>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear color="dark">
        {{limitText}}
      </button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showLink = !showLink">
        <ion-icon name="ios-link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
