page-create-feed {
  #myInput {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: transparent;
    min-height: 40px;

    ::-webkit-input-placeholder {
      font-size: 2.1rem;
    }

    ::-moz-placeholder {
      font-size: 2.1rem;
    }

    :-ms-input-placeholder {
      font-size: 2.1rem;
    }

    ::placeholder {
      font-size: 2.1rem;
    }
  }
}
