<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Notifications</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="notifType">
      <ion-segment-button value="received">
        Received
      </ion-segment-button>
      <ion-segment-button value="sent">
        Sent
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ng-container *ngIf="showContent1 && notifType == 'received'">
      <ion-item-sliding *ngFor="let item of _notificationsArr">
        <ion-item [ngClass]="{'unread': !item.acknowledged}" (click)="viewNotification(item,'received')" detail-push>
          <ion-avatar item-start>
            <!-- <img [src]="item.from?.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)"> -->
            <img-loader [src]="item.from?.avatar?.thumbImage | linkHttp" fallbackUrl="'./assets/img/user.png'" useImg>
            </img-loader>
          </ion-avatar>
          <h2><b>From:</b> {{item.from?.business?.business}}</h2>
          <p>{{item.type}}</p>
          <p><small>{{item.dateCreated | timesago}}</small></p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteNotification(item)">
            <ion-icon name="md-close"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <div class="myCardNotif" *ngIf="showError2">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{errContent2}}</p>
        </div>
      </div>
    </ng-container>
    <!--
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <ng-container *ngIf="!showContent1 && notifType == 'received'">
      <ion-item *ngFor="let item of fakeArr">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item></skeleton-item>
        <skeleton-item height="12px" width="67%"></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </ng-container>
    <!--
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <ng-container *ngIf="showContent2 && notifType == 'sent'">
      <ion-item-sliding *ngFor="let item of _notificationsArr2">
        <ion-item (click)="viewNotification(item,'sent')" detail-push>
          <ion-avatar item-start>
            <img [src]="item.to?.avatar?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
          </ion-avatar>
          <h2><b>To:</b> {{item.to?.business?.business}}</h2>
          <p>{{item.type}}</p>
          <p><small>{{item.dateCreated | timesago}}</small></p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteNotification(item)">
            <ion-icon name="md-close"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <div class="myCardNotif" *ngIf="_notificationsArr2 && _notificationsArr2.length < 1 && showError3">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{errContent3}}</p>
        </div>
      </div>
    </ng-container>
    <!--
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <ng-container *ngIf="!showContent2 && notifType == 'sent'">
      <ion-item *ngFor="let item of fakeArr">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item></skeleton-item>
        <skeleton-item height="12px" width="67%"></skeleton-item>
        <skeleton-item height="8px" width="67%"></skeleton-item>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
