<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{item.caption}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="printForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Caption</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.brochure_caption.errors">
          <ion-input type="text" placeholder="Caption" formControlName="brochure_caption"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.brochure_caption.errors" class="help-block" text-wrap>
          <div *ngIf="f.brochure_caption.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Caption is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Type</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.type.errors">
          <ion-select formControlName="type" placeholder="Brochure Type">
            <ion-option value="Guide">Guide</ion-option>
            <ion-option value="Infographic">Infographic</ion-option>
            <ion-option value="Itirenary">Itirenary</ion-option>
            <ion-option value="Map">Map</ion-option>
            <ion-option value="Promotional">Promotional</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.type.errors" class="help-block" text-wrap>
          <div *ngIf="f.type.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Type is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Privilege</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.privacy.errors">
          <ion-select formControlName="privacy" placeholder="Privacy">
            <ion-option value="private">Private</ion-option>
            <ion-option value="trade">Trade</ion-option>
            <ion-option value="media">Media</ion-option>
            <ion-option value="public">Public</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.privacy.errors" class="help-block" text-wrap>
          <div *ngIf="f.privacy.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Privacy is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Validity</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.validityDate.errors">
          <ion-datetime displayFormat="MM-DD-YYYY" formControlName="validityDate"></ion-datetime>
        </ion-item>
        <div *ngIf="submitted && f.validityDate.errors" class="help-block" text-wrap>
          <div *ngIf="f.validityDate.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Validity is required.
          </div>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full color="primary" (click)="save()">Save</button>
  </ion-toolbar>
</ion-footer> -->
