<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="showContent">
      <ion-list>
        <ion-item *ngFor="let item of productArr" tappable (click)="checkChanged(item)">
          <ion-thumbnail item-start>
            <img-loader [src]="item.image.thumbImage | linkHttp" fallback="./assets/img/thumb.jpg" useImg *ngIf="item.image !== undefined"></img-loader>
            <img src="./assets/img/thumb.jpg" *ngIf="item.image == undefined">
          </ion-thumbnail>
            <h2>{{item.title}}</h2>
            <p><b>ID:</b> {{item.productId}}</p>
            <ion-icon name="checkmark" item-right *ngIf="item.checked"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!showContent">
      <ion-list>
        <ion-item *ngFor="let item of fakeArr">
          <ion-avatar item-start>
            <skeleton-item height="50px" width="50px"></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="saveData()" [disabled]="!showContent">Save</button>
  </ion-toolbar>
</ion-footer>
