<ion-card class="card-feed">
  <ion-item no-lines text-wrap>
    <ion-avatar item-start>
      <img-loader [src]="avatar.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-avatar>
    <h2><b>{{item.businessName}}</b></h2>
    <p><small>{{item.timestamp | timesago}}</small></p>
    <ion-icon name="ios-more" item-end (click)="moreAction(item.itemType,item)"
      *ngIf="item.itemType == 'shout' || item.itemType == 'image'"></ion-icon>
  </ion-item>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img-loader [src]="media?.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-thumbnail>
    <p text-wrap>{{item.statement}}</p>
  </ion-item>
  <!-- <ion-row justify-content-start class="feed-actions">
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="downloadImage(item)" [disabled]="item.disableDownload">
        <ion-icon name="cloud-download"></ion-icon>
        <div>Download</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="shareActivity(item)" [disabled]="item.disableShare">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
  </ion-row> -->
</ion-card>
