<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right *ngIf="(action == 'gallery' || action == 'feature_image' || action == 'feature_video' || action == 'feature_print' || action == 'feature_logo') && uploadMode == 'gallery'">
      <button ion-button clear (click)="selectClick()" *ngIf="!showCheckbox" [disabled]="!showContent">
        Select
      </button>
      <button ion-button clear (click)="cancelClick()" *ngIf="showCheckbox" [disabled]="!showContent">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="action == 'gallery'">
    <ion-segment [(ngModel)]="uploadMode" (ionChange)="segmentChanged()">
      <ion-segment-button value="gallery">
        Image Gallery
      </ion-segment-button>
      <ion-segment-button value="upload">
        Upload Image
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <div padding *ngIf="action == 'update_print_policy' || action == 'update_video_policy'">
      <div class="images-wrapper">
        <div *ngIf="images && images.length > 0">
          <div class="image-wrapper2" *ngFor="let image of images">
            <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeFile(image)"></ion-icon>
            <div class="image">
              <img src="./assets/img/pdf.png" *ngIf="action =='update_print_policy'" [class.uploading]="isUploading">
              <img src="./assets/img/video-player.svg" *ngIf="action =='update_video_policy'" [class.uploading]="isUploading">
              <ion-spinner *ngIf="isUploading && uploadingProgress[image.uuid]<100"></ion-spinner>
              <ion-icon color="secondary" name="checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100"></ion-icon>
              <div *ngIf="isUploading" class="progress-bar">
                <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
              </div>
            </div>
            <h4>{{image.name}}</h4>
            <h5>{{image.size | fileSize}}</h5>
          </div>
        </div>
        <div class="image-wrapper2 add-image-btn" *ngIf="!isUploading && images?.length < 1" (click)="showAddFile()">
          <div class="image">
            <ion-icon name="add"></ion-icon>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <div padding *ngIf="action == 'update_video_thumbnail_policy'">
      <div class="images-wrapper">
        <div *ngIf="imagesValue && imagesValue.length > 0">
          <div class="image-wrapper2" *ngFor="let image of imagesValue">
            <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
            <div class="image" [style.background-image]="image.sanitized">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
              <ion-spinner *ngIf="isUploading && uploadingProgress[image.uuid]<100"></ion-spinner>
              <ion-icon color="secondary" name="checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100"></ion-icon>
              <div *ngIf="isUploading" class="progress-bar">
                <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-wrapper2 add-image-btn" *ngIf="!isUploading && imagesValue?.length < 1" (click)="showAddImage()">
          <div class="image">
            <ion-icon name="add"></ion-icon>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <div padding *ngIf="action == 'media' || action == 'logos'">
      <div class="images-wrapper">
        <div class="image-wrapper" *ngFor="let image of imagesValue">
          <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
          <div class="image" [style.background-image]="image.sanitized">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
            <ion-spinner *ngIf="isUploading && uploadingProgress[image.uuid]<100"></ion-spinner>
            <ion-icon color="secondary" name="checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100"></ion-icon>
            <div *ngIf="isUploading" class="progress-bar">
              <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
            </div>
          </div>
        </div>
        <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
          <div class="image">
            <ion-icon name="add"></ion-icon>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <ion-list *ngIf="action == 'print' || action =='videos'">
      <div padding>
        <button ion-button full round (click)="showAddFile()" [disabled]="isUploading">Choose File</button>
      </div>
      <ion-item *ngFor="let image of images">
        <ion-thumbnail item-start>
          <img src="./assets/img/pdf.png" *ngIf="action =='print'">
          <img src="./assets/img/video-player.svg" *ngIf="action =='videos'">
        </ion-thumbnail>
        <h2>{{image.name}}</h2>
        <p>
          <ion-note>{{image.size | fileSize}}</ion-note>
        </p>
        <div class="progress-container" *ngIf="isUploading && uploadingProgress[image.uuid] > 0">
          <progress class="progress" max="100" [value]="uploadingProgress[image.uuid]"></progress>
        </div>
        <ion-icon color="secondary" name="md-checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100" item-end></ion-icon>
        <!-- <ion-icon color="danger" name="md-refresh" *ngIf="isUploading && uploadingProgress[image.uuid]==100" item-end></ion-icon> -->
        <ion-icon name="ios-close-circle" item-end *ngIf="!isUploading" (click)="removeFile(image)"></ion-icon>
      </ion-item>
    </ion-list>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <div padding *ngIf="action == 'gallery' && uploadMode == 'upload'">
      <div class="images-wrapper">
        <div class="image-wrapper" *ngFor="let image of imagesValue">
          <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
          <div class="image" [style.background-image]="image.sanitized">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [class.uploading]="isUploading" alt="" />
            <ion-spinner *ngIf="isUploading && uploadingProgress[image.uuid]<100"></ion-spinner>
            <ion-icon color="secondary" name="checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100"></ion-icon>
            <div *ngIf="isUploading" class="progress-bar">
              <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
            </div>
          </div>
        </div>
        <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
          <div class="image">
            <ion-icon name="add"></ion-icon>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
    <ion-grid *ngIf="(action == 'gallery' || action == 'feature_image' || action == 'feature_video' || action == 'feature_print' || action == 'feature_logo') && uploadMode == 'gallery'">
      <ion-row *ngIf="showContent">
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of imagesArr">
          <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'" [ngClass]="{'selected-image': item.selected}" (click)="checkChanged(item)">
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!showContent">
        <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
          <div class="animated-background"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--
    ===========================================================================
    ===========================================================================
    ===========================================================================
     -->
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary" *ngIf="showUploadButton">
    <button ion-button full (click)="uploadFiles()" [disabled]="isUploading">
      <ion-spinner name="bubbles" *ngIf="isUploading" item-start></ion-spinner>
      Upload
    </button>
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="showSetFeatureButton">
    <button ion-button full (click)="uploadFiles()" [disabled]="isUploading || !showContent" >
      <ion-spinner name="bubbles" *ngIf="isUploading" item-start></ion-spinner>
      Set Feature
    </button>
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="showUpdateFileButton">
    <button ion-button full (click)="uploadFiles()" [disabled]="isUploading">
      <ion-spinner name="bubbles" *ngIf="isUploading" item-start></ion-spinner>
      Update File
    </button>
  </ion-toolbar>
</ion-footer>
