<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{item.caption}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="videoForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Caption</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.caption.errors">
          <ion-input type="text" placeholder="Caption" formControlName="caption"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.caption.errors" class="help-block" text-wrap>
          <div *ngIf="f.caption.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Caption is required.
          </div>
        </div>
        <ion-item no-lines>
          <ion-label>Privilege</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.privacy.errors">
          <ion-select formControlName="privacy">
            <ion-option value="private">Private</ion-option>
            <ion-option value="trade">Trade</ion-option>
            <ion-option value="media">Media</ion-option>
            <ion-option value="public">Public</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.privacy.errors" class="help-block" text-wrap>
          <div *ngIf="f.privacy.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Privacy is required.
          </div>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full color="primary" (click)="save()">Save</button>
  </ion-toolbar>
</ion-footer> -->
