page-search {
  .searchbar-ios-cancel,
  .searchbar-search-icon {
    color: #fff !important
  }

  .richblue {
    .toolbar-background {
      background: #4568DC !important;
      background: -webkit-linear-gradient(to right, #B06AB3, #4568DC) !important;
      background: linear-gradient(to right, #B06AB3, #4568DC) !important;
    }
  }

  .ion-searchbar {
     ::-webkit-input-placeholder {
      text-align: left;
      color: #fff !important;
    }

     :-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
      color: #fff !important;
    }

     ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
      color: #fff !important;
    }

     :-ms-input-placeholder {
      text-align: left;
      color: #fff !important;
    }
  }
}
