<ion-header>
    <ion-navbar color="narnoo">
    <ion-title><img class="headerLogo" src="./assets/img/logo.png"></ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-funnel-outline" md="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #q (keyup.enter)="getItems(q.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <div *ngIf="showContent">
      <ion-list no-lines>
        <ion-item *ngFor="let item of searchArr">
          <ion-avatar item-start>
            <img [src]="item.avatar.thumbImage | linkHttp">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.type | uppercase}}</p>
          <button ion-button small item-end (click)="requestAccess(item)">
            Request
          </button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!showContent">
      <ion-list>
        <ion-item *ngFor="let item of fakeArr">
          <ion-avatar item-start>
            <skeleton-item height="50px" width="50px" rounded></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="12px" width="67%"></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
