page-business-profile-settings {
  #map {
    height: 300px;
    width: 100%;
  }

  ion-toolbar {
    padding: 0 !important;
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .header-image {
    // background-image: url(../assets/img/thumb.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
  }
  .main-content {
    margin-top: -20px;
    // margin-left: 10px;
    // margin-right: 10px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75); // background: #F5F5F5;
    position: relative !important;
  }
  .circular {
    width: 100px;
    height: 100px;
    position: inherit;
    border-radius: 50%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: solid white;
    background-size: 100%;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto; // margin-bottom: 50px;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }

  // Following, Followers and all..
  .profile-numbers {
    p {
      color: #444;
      font-size: medium;
      margin-bottom: 3px;
    }
    span {
      font-weight: bold;
      font-size: 2.4rem;
      color: #34354c;
    }
  }
}
