<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Business Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile()" [disabled]="showLoading" *ngIf="business.role == 1">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-bounce>
  <ion-grid fixed no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="header-image" [hidden]="showLoading" [ngStyle]="{'background-image': 'url(' + (info.avatar?.largeImage | linkHttp) +')'}"></div>
    <skeleton-item height="320px" *ngIf="showLoading"></skeleton-item>
    <div class="main-content" text-wrap text-center>
      <h2 *ngIf="!showLoading">{{info.name}} <small ion-text color="primary">({{info.id}})</small></h2>
      <p *ngIf="!showLoading">{{info.type | uppercase}}</p>
      <!--
      ==========================================
      ==========================================
      ==========================================
       -->
      <ion-row *ngIf="showLoading">
        <ion-col text-center>
        </ion-col>
        <ion-col text-center>
          <skeleton-item height="24px"></skeleton-item>
          <skeleton-item height="14px"></skeleton-item>
        </ion-col>
        <ion-col text-center>
        </ion-col>
      </ion-row>
      <!--
      ==========================================
      ==========================================
      ==========================================
       -->
      <ion-row class="profile-numbers" *ngIf="!showLoading">
        <ion-col col-6 (click)="viewFollowing()" *ngIf="showFollowing">
          <p>Following</p>
          <span>{{followingCount}}</span>
        </ion-col>
        <ion-col col-6 (click)="viewFollowers()" *ngIf="showFollowers && business.type == 1">
          <p>Followers</p>
          <span>{{followerCount}}</span>
        </ion-col>
      </ion-row>
      <!--
      ==========================================
      ==========================================
      ==========================================
       -->
      <ion-row class="profile-numbers" *ngIf="showLoading">
        <ion-col col-6 text-center *ngIf="!showFollowing">
          <skeleton-item height="24px" width="67%"></skeleton-item>
          <skeleton-item height="14px" width="37%"></skeleton-item>
        </ion-col>
        <ion-col col-6 text-center *ngIf="!showFollowers">
          <skeleton-item height="24px" width="67%"></skeleton-item>
          <skeleton-item height="14px" width="37%"></skeleton-item>
        </ion-col>
      </ion-row>
      <!--
      ==========================================
      ==========================================
      ==========================================
       -->
      <hr *ngIf="!showLoading">
      <ion-list no-lines *ngIf="!showLoading">
        <ion-item>
          <ion-icon name="ios-contact-outline" color="primary" item-start></ion-icon>
          <p>Contact</p>
          {{info.contact}}
        </ion-item>
        <ion-item>
          <ion-icon name="mail" color="primary" item-start></ion-icon>
          <p>Email</p>
          {{info.email}}
          <a button ion-button clear href="mailto:{{info.email}}" color="dark" item-end medium>
            <ion-icon name="md-open"></ion-icon>
          </a>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="call" color="danger"></ion-icon>
          <p>Mobile</p>
          {{info.phone}}
          <a button ion-button clear href="tel:{{info.phone}}" color="dark" item-end medium>
            <ion-icon name="md-open"></ion-icon>
          </a>
        </ion-item>
        <ion-item>
          <ion-icon item-start clear name="ios-globe-outline" color="secondary"></ion-icon>
          <p>Website</p>
          {{info.url}}
          <a button ion-button clear color="dark" item-end medium href="whatsapp://send?text=Hi from ionic&phone=+{{info.phone}}&abid=+{{info.phone}}">
            <ion-icon name="md-open"></ion-icon>
          </a>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="pin" color="facebook"></ion-icon>
          <p>
            {{info.suburb}}, {{info.state}} {{info.postcode}}
            <br> {{info.country}}
          </p>
        </ion-item>
        <h2>Business Details</h2>
        <hr>
        <ion-item>
          <ion-label stacked>Category</ion-label>
          <ion-label *ngIf="info.category">{{info.category}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label stacked>Sub Category</ion-label>
          <ion-label *ngIf="info.category">{{info.subCategory}}</ion-label>
        </ion-item>
        <div *ngIf="business.type == 1">
          <h2>Keywords</h2>
          <hr>
          <ion-tags-input [(ngModel)]="info.tags" *ngIf="info.tags"></ion-tags-input>
        </div>
      </ion-list>
      <!--
      ==========================================
      ==========================================
      ==========================================
       -->
      <div *ngIf="showLoading">
        <ion-list>
          <ion-item>
            <ion-icon name="ios-contact" color="muted" item-start></ion-icon>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <ion-icon name="mail" color="muted" item-start></ion-icon>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <ion-icon item-start name="call" color="muted"></ion-icon>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <ion-icon item-start clear name="ios-globe" color="muted"></ion-icon>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <ion-icon item-start name="pin" color="muted"></ion-icon>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-list-header color="lights">
            <skeleton-item height="24px" width="57%"></skeleton-item>
          </ion-list-header>
          <ion-item>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
          <ion-item>
            <skeleton-item height="24px"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
          </ion-item>
        </ion-list>
      </div>
      <skeleton-item height="320px" *ngIf="showLoading"></skeleton-item>
      <app-map [latitude]="info.latitude" [longitude]="info.longitude" [title]="info.name" [imageSrc]="info.avatar?.largeImage | linkHttp"></app-map>
    </div>
  </ion-grid>
</ion-content>
