<div *ngIf="showContentProducts">
  <div *ngIf="!showContentProductsErr">
    <ion-list *ngIf="productArr && productArr.length > 0">
      <button ion-item (click)="viewProductDetails(item)" *ngFor="let item of productArr" class="item-ribbon">
        <span class="ribbon javascript" *ngIf="item.primary">
          <span>PRIMARY</span>
        </span>
        <ion-thumbnail item-start>
          <!-- <img [src]="item.image.thumbImage | linkHttp" *ngIf="item.image !== undefined" onError="this.src='./assets/img/thumb.jpg'"> -->
          <img src="./assets/img/thumb.jpg" *ngIf="item.image == undefined">
          <img-loader [src]="item.image?.thumbImage | linkHttp" fallback="./assets/img/thumb.jpg" useImg
            *ngIf="item.image !== undefined"></img-loader>
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p><b>ID:</b> {{item.productId}}</p>
      </button>
    </ion-list>
  </div>
  <div class="myCardNotif" *ngIf="!showContentProductsErr && productArr.length < 1">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">No products found!</p>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentProductsErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{productsContentErr.message}}</p>
    </div>
  </div>
</div>
<ion-list *ngIf="!showContentProducts">
  <ion-item *ngFor="let item of fakeArr">
    <ion-avatar item-start>
      <skeleton-item height="50px" width="50px"></skeleton-item>
    </ion-avatar>
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</ion-list>
