<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Albums</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="showContent">
      <ion-list>
        <ion-item *ngFor="let item of albumsArr" tappable (click)="checkChanged(item)">
          <ion-thumbnail item-start>
            <img [src]="item.images[0]?.image200" onError="this.src='./assets/img/thumb.jpg'">
          </ion-thumbnail>
          <h2>{{item.title}}</h2>
          <p>{{item.imageCount}} images</p>
          <ion-icon name="checkmark" item-right *ngIf="item.checked"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!showContent">
      <ion-list>
        <ion-item *ngFor="let item of fakeArr">
          <div class="animated-background-item">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="addImage()" [disabled]="!showContent">Add Image to Album</button>
  </ion-toolbar>
</ion-footer>
