<ion-card class="info">
  <ion-item>
    <h2>{{product.title}}</h2>
  </ion-item>
  <ion-slides pager paginationType="progress">
    <ion-slide *ngFor="let pic of product.gallery?.images">
      <img [src]="pic.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'" imageViewer>
    </ion-slide>
  </ion-slides>
</ion-card>
<ion-card class="info">
  <ion-item *ngIf="product.avgPrice">
    <h2 ion-text color="primary">Product Price Range</h2>
    <div item-end><b>{{product.minPrice}}</b></div>
  </ion-item>
  <ion-list class="product_info" no-line>
    <ion-item *ngIf="product.dateCreated">
      <ion-icon name="ios-time-outline" item-start></ion-icon>
      <span>{{product.dateCreated | date: 'medium'}}</span>
    </ion-item>
    <ion-item *ngIf="product.keywords">
      <ion-icon name="ios-pricetags-outline" item-start></ion-icon>
      <span>{{product.keywords}}</span>
    </ion-item>
    <ion-item *ngIf="product.currency">
      <ion-icon name="ios-cash-outline" item-start></ion-icon>
      <span>{{product.currency | uppercase}}</span>
    </ion-item>
  </ion-list>
</ion-card>
<ion-card class="info" *ngIf="product.description">
  <ion-card-header>
    <h2 ion-text color="primary">Product Summary</h2>
  </ion-card-header>
  <div *ngIf="newSummaryArr && newSummaryArr.length > 0">
    <div *ngFor="let item of newSummaryArr">
      <ion-item-divider color="light" (click)="expandSummaryItem(item)">
        {{item.key | uppercase}}
        <div item-end>
          <ion-icon name="ios-arrow-down-outline" *ngIf="!item.expanded"></ion-icon>
          <ion-icon name="ios-arrow-up-outline" *ngIf="item.expanded"></ion-icon>
        </div>
      </ion-item-divider>
      <div text-wrap padding *ngIf="item.expanded">
        <span [innerHTML]="item.value.text"></span>
      </div>
    </div>
  </div>
  <button ion-item (click)="viewDetails()">
    <ion-label color="primary"><small>View All Product Details</small></ion-label>
  </button>
</ion-card>
<ion-card class="info" *ngIf="product.features">
  <ion-card-header>
    <h2 ion-text color="primary">Product Features</h2>
  </ion-card-header>
  <ion-list *ngIf="product.category == 'service' || product.category == 'attraction'">
    <ion-item>
      <ion-label>Disabled Access</ion-label>
      <ion-toggle [(ngModel)]="features.disabledAccess" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Gift Shop</ion-label>
      <ion-toggle [(ngModel)]="features.giftShop" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Storage Lockers</ion-label>
      <ion-toggle [(ngModel)]="features.storageLockers" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Visitor Information</ion-label>
      <ion-toggle [(ngModel)]="features.visitorInformation" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Dinner Included</ion-label>
      <ion-toggle [(ngModel)]="features.dinnerIncluded" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Internet</ion-label>
      <ion-toggle [(ngModel)]="features.internetAccess" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Photo/Video Service</ion-label>
      <ion-toggle [(ngModel)]="features.media" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Private Functions</ion-label>
      <ion-toggle [(ngModel)]="features.functionHire" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Hotel Pick Up</ion-label>
      <ion-toggle [(ngModel)]="features.hotelPickupService" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Meal/s Provided</ion-label>
      <ion-toggle [(ngModel)]="features.mealProvided" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Guided Tour</ion-label>
      <ion-toggle [(ngModel)]="features.guidedTours" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wedding Services</ion-label>
      <ion-toggle [(ngModel)]="features.weddingServices" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Breakfast Included</ion-label>
      <ion-toggle [(ngModel)]="features.breakfestIncluded" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Cafe</ion-label>
      <ion-toggle [(ngModel)]="features.cafe" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Foreign Languages</ion-label>
      <ion-toggle [(ngModel)]="features.languageTranslation" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Conference Services</ion-label>
      <ion-toggle [(ngModel)]="features.conferenceServices" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Lunch Included</ion-label>
      <ion-toggle [(ngModel)]="features.lunchIncluded" disabled></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="product.category == 'accommodation'">
    <ion-item>
      <ion-label>24 Hour Desk</ion-label>
      <ion-toggle [(ngModel)]="features['24HourDesk']" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Bar</ion-label>
      <ion-toggle [(ngModel)]="features.bar" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Concierge Services</ion-label>
      <ion-toggle [(ngModel)]="features.conciergeService" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Conference Services</ion-label>
      <ion-toggle [(ngModel)]="features.conferenceServices" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Disabled Access</ion-label>
      <ion-toggle [(ngModel)]="features.disabledAccess" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Express Check-In</ion-label>
      <ion-toggle [(ngModel)]="features.expressCheckIn" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Express Check-Out</ion-label>
      <ion-toggle [(ngModel)]="features.expressCheckOut" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Fitness Centre</ion-label>
      <ion-toggle [(ngModel)]="features.fitnessCentre" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Internet</ion-label>
      <ion-toggle [(ngModel)]="features.internetAccess" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Kitchen Facilities</ion-label>
      <ion-toggle [(ngModel)]="features.kitchenFacilities" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Laundry Facilities</ion-label>
      <ion-toggle [(ngModel)]="features.laundryFacilities" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Meeting Facilities</ion-label>
      <ion-toggle [(ngModel)]="features.meetingFacilities" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Non-Smoking</ion-label>
      <ion-toggle [(ngModel)]="features.nonSmoking" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Parking Access</ion-label>
      <ion-toggle [(ngModel)]="features.parkingAccess" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Restaurant</ion-label>
      <ion-toggle [(ngModel)]="features.restaurant" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Room Service</ion-label>
      <ion-toggle [(ngModel)]="features.roomService" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Safe Deposit</ion-label>
      <ion-toggle [(ngModel)]="features.safeDeposit" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Swimming Pool</ion-label>
      <ion-toggle [(ngModel)]="features.swimmingPool" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tour Booking Services</ion-label>
      <ion-toggle [(ngModel)]="features.tourBookingService" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wedding Services</ion-label>
      <ion-toggle [(ngModel)]="features.weddingServices" disabled></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wifi Access</ion-label>
      <ion-toggle [(ngModel)]="features.wifiAccess" disabled></ion-toggle>
    </ion-item>
  </ion-list>
</ion-card>
