<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Business Users</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createUser()" [disabled]="!showContent" *ngIf="business.role == 1">
        <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-toolbar>
    <ion-searchbar (input)="getItems($event)" [showCancelButton]="true" (ionCancel)="onCancel($event)" (ionClear)="onCancel($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-list>
      <div *ngIf="showContent">
        <ion-item-sliding *ngFor="let user of contactsArr" #slidingItem>
          <button ion-item (click)="gotoDetail(user)">
            <ion-avatar item-start>
              <!-- <img [src]="user.gravatar" (error)="errorAvatarHandler($event)"> -->
              <img-loader [src]="user.gravatar" fallbackUrl="'./assets/img/user.png'" useImg></img-loader>
            </ion-avatar>
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <p>{{user.email}}</p>
            <small ion-text color="primary">{{user.role}}</small>
          </button>
          <ion-item-options side="right" *ngIf="business.type == 1 && business.role == 1">
            <button ion-button color="primary" (click)="updateUser(user,slidingItem)">
              <ion-icon name="create"></ion-icon>
              Update
            </button>
            <button ion-button color="energized" (click)="revokeUser(user,slidingItem)">
              <ion-icon name="ios-unlock"></ion-icon>
              Revoke
            </button>
            <!-- <button ion-button color="danger" (click)="deleteUser(user,slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button> -->
          </ion-item-options>
        </ion-item-sliding>
      </div>
      <div *ngIf="!showContent">
        <ion-item *ngFor="let item of fakeArr">
          <ion-avatar item-start>
            <skeleton-item height="50px" width="50px" rounded></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="12px" width="67%"></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
