<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Social Links</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editSocialLinks()" *ngIf="business.type == 1 && business.role == 1" [disabled]="showLoading && showContentErr">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <div *ngIf="!showLoading">
        <div *ngIf="!showContentErr">
          <div *ngIf="!showEdit">
            <ion-item-divider color="light">Trip Advisor</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.tripadvisor}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Facebook</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.facebook}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Twitter</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.twitter}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Instagram</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.instagram}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Youtube</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.youtube}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Vimeo</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.vimeo}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
            <ion-item-divider color="light">Pinterest</ion-item-divider>
            <ion-item>
              <ion-label text-wrap color="primary">{{link.pinterest}}</ion-label>
              <ion-icon name="ios-copy-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </div>
        <div class="myCardNotif" *ngIf="showContentErr">
          <div padding text-center>
            <img src="./assets/img/error.png" />
            <p ion-text color="apperror">{{contentErr.message}}</p>
          </div>
        </div>
        <div *ngIf="showEdit">
          <ion-item>
            <ion-label stacked>Trip Advisor</ion-label>
            <ion-input type="text" [(ngModel)]="link.tripadvisor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Facebook</ion-label>
            <ion-input type="text" [(ngModel)]="link.facebook"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Twitter</ion-label>
            <ion-input type="text" [(ngModel)]="link.twitter"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Instagram</ion-label>
            <ion-input type="text" [(ngModel)]="link.instagram"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Youtube</ion-label>
            <ion-input type="text" [(ngModel)]="link.youtube"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Vimeo</ion-label>
            <ion-input type="text" [(ngModel)]="link.vimeo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Pinterest</ion-label>
            <ion-input type="text" [(ngModel)]="link.pinterest"></ion-input>
          </ion-item>
        </div>
      </div>
      <div *ngIf="showLoading">
        <ion-list>
          <ion-item *ngFor="let item of fakeArr">
            <skeleton-item height="24px" width="87%"></skeleton-item>
            <skeleton-item height="14px" width="67%"></skeleton-item>
            <div item-end>
              <skeleton-item height="24px"></skeleton-item>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>
<ion-footer no-border *ngIf="showEdit && business.role == 1">
  <ion-toolbar color="light">
    <button ion-button full (click)="updateSocialLinks()">Update</button>
    <button ion-button full color="danger" (click)="editSocialLinks()">Cancel</button>
  </ion-toolbar>
</ion-footer>
