<ion-row *ngIf="product.gallery">
  <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of product.gallery?.images | slice:0:perPage;">
    <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'" imageViewer>
  </ion-col>
</ion-row>
<div padding text-center middle *ngIf="!product.gallery">
  <p ion-text color="danger">No Images</p>
</div>
