<ion-card-header>
  <h2 ion-text color="primary">Product Details</h2>
</ion-card-header>
<ion-list-header>
  Product operational times
</ion-list-header>
<ion-item>
  <ion-label stacked>Start Time</ion-label>
  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="product.startTime"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label stacked>End Time</ion-label>
  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="product.endTime"></ion-datetime>
</ion-item>
<ion-list-header>
  Product duration time
</ion-list-header>
<ion-item>
  <ion-label stacked>Duration time (hrs)</ion-label>
  <ion-input type="number" [(ngModel)]="product.duration"></ion-input>
</ion-item>
<ion-list-header>
  Transport
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.transportText"></jodit-editor>
<ion-list-header>
  Purchases
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.purchasesText"></jodit-editor>
<ion-list-header>
  Packing
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.packingText"></jodit-editor>
<ion-list-header>
  Health
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.healthText"></jodit-editor>
<ion-list-header>
  Children
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.childrenText"></jodit-editor>
<ion-list-header>
  Other
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.additionalText"></jodit-editor>
<ion-list-header>
  Terms
</ion-list-header>
<jodit-editor [config]="textEditorConfig" [(ngModel)]="product.termsText"></jodit-editor>

<ion-card class="info">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Image</h2>
  </ion-card-header>
  <ion-item>
    <button ion-button block  *ngIf="product.featureImage == null" (click)="setFeature('image')">Set Feature Image</button>
    <button ion-button block  *ngIf="product.featureImage != null" (click)="setFeature('image')">Change Feature Image</button>
  </ion-item>
  <ion-card-content *ngIf="product.featureImage">
    <div class="progressive-image">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featureImage.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featureImage.largeImage | linkHttp">
      </div>
      <div class="overlay"></div>
    </div>
  </ion-card-content>
</ion-card>
<ion-card class="info">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Logo</h2>
  </ion-card-header>
  <ion-item>
    <button ion-button block  *ngIf="product.featureLogo == null" (click)="setFeature('logo')">Set Feature Logo</button>
    <button ion-button block  *ngIf="product.featureLogo != null" (click)="setFeature('logo')">Change Feature Logo</button>
  </ion-item>
  <ion-card-content *ngIf="product.featureLogo">
    <div class="progressive-image">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featureLogo.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featureLogo.largeImage | linkHttp">
      </div>
      <div class="overlay"></div>
    </div>
  </ion-card-content>
</ion-card>
<ion-card class="info">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Brochure</h2>
  </ion-card-header>
  <ion-item>
    <button ion-button block  *ngIf="product.featurePrint == null" (click)="setFeature('print')">Set Feature Brochure</button>
    <button ion-button block  *ngIf="product.featurePrint != null" (click)="setFeature('print')">Change Feature Brochure</button>
  </ion-item>
  <ion-card-content *ngIf="product.featurePrint && !product.featurePrint.error">
    <div class="progressive-image">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featurePrint.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featurePrint.largeImage | linkHttp">
      </div>
      <div class="overlay"></div>
    </div>
  </ion-card-content>
</ion-card>
<ion-card class="info">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Video</h2>
  </ion-card-header>
  <ion-item>
    <button ion-button block  *ngIf="product.featureVideo == null" (click)="setFeature('video')">Set Feature Video</button>
    <button ion-button block  *ngIf="product.featureVideo != null" (click)="setFeature('video')">Change Feature Video</button>
  </ion-item>
  <ion-card-content *ngIf="product.featureVideo">
    <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls preload="auto" data-setup='{}' [poster]="product.featureVideo.previewImage | linkHttp">
      <source [src]="product.featureVideo.videoPreview | linkHttp" type="video/mp4" />
      <source [src]="product.featureVideo.streamWebm | linkHttp" type="video/webm">
    </video>
  </ion-card-content>
</ion-card>
