<ion-item-divider color="light">Settings</ion-item-divider>
<ion-list-header>
  Product Settings
</ion-list-header>
<ion-item text-wrap>
  <ion-label>Distribute this product information through media libraries</ion-label>
  <ion-checkbox [(ngModel)]="product.settingsLibrary"></ion-checkbox>
</ion-item>
<ion-item text-wrap>
  <ion-label>Allow distributors access to this product through Narnoo's marketplace</ion-label>
  <ion-checkbox [(ngModel)]="product.settingsBookable"></ion-checkbox>
</ion-item>
<ion-list-header>
  Keywords
</ion-list-header>
<ion-item text-wrap>
  <ion-tags-input [(ngModel)]="product.keywordsArr" [canBackspaceRemove]="true" [canEnterAdd]="true"></ion-tags-input>
</ion-item>
