<ion-card-header>
  <h2 ion-text color="primary">Product Summary</h2>
</ion-card-header>
<ion-list-header>
  Product Title
</ion-list-header>
<ion-item>
  <ion-input type="text" placeholder="Product Title" [(ngModel)]="product.title"></ion-input>
</ion-item>
<ion-item-divider color="light" padding-top>&nbsp;</ion-item-divider>
<ion-card-header>
  <h2 ion-text color="primary">Product Summary</h2>
</ion-card-header>
<div *ngFor="let item of newSummaryArr">
  <ion-list-header>
    {{item.key | uppercase}}
  </ion-list-header>
  <jodit-editor [config]="textEditorConfig" [(ngModel)]="item.value.text"></jodit-editor>
</div>
<ion-item-divider color="light" padding-top>&nbsp;</ion-item-divider>
<ion-card-header>
  <h2 ion-text color="primary">Product Description</h2>
</ion-card-header>
<div *ngFor="let item of newDescriptionArr">
  <ion-list-header>
    {{item.key | uppercase}}
  </ion-list-header>
  <jodit-editor [config]="textEditorConfig" [(ngModel)]="item.value.text"></jodit-editor>
</div>
<ion-card-header>
  <h2 ion-text color="primary">Product Price</h2>
</ion-card-header>
<ion-item>
  <ion-label stacked>Price</ion-label>
  <ion-input type="number" [(ngModel)]="product.price"></ion-input>
</ion-item>
<ion-card-header *ngIf="mode =='update'">
  <h2 ion-text color="primary">Product Features</h2>
</ion-card-header>
<div *ngIf="mode =='update'">
  <ion-list>
    <ion-item>
      <ion-label>Disabled Access</ion-label>
      <ion-toggle [(ngModel)]="features.disabledAccess" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Gift Shop</ion-label>
      <ion-toggle [(ngModel)]="features.giftShop" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Storage Lockers</ion-label>
      <ion-toggle [(ngModel)]="features.storageLockers" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Visitor Information</ion-label>
      <ion-toggle [(ngModel)]="features.visitorInformation" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Dinner Included</ion-label>
      <ion-toggle [(ngModel)]="features.dinnerIncluded" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Internet</ion-label>
      <ion-toggle [(ngModel)]="features.internetAccess" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Photo/Video Service</ion-label>
      <ion-toggle [(ngModel)]="features.media" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Private Functions</ion-label>
      <ion-toggle [(ngModel)]="features.functionHire" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Hotel Pick Up</ion-label>
      <ion-toggle [(ngModel)]="features.hotelPickupService" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Meal/s Provided</ion-label>
      <ion-toggle [(ngModel)]="features.mealProvided" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Guided Tour</ion-label>
      <ion-toggle [(ngModel)]="features.guidedTours" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wedding Services</ion-label>
      <ion-toggle [(ngModel)]="features.weddingServices" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Breakfast Included</ion-label>
      <ion-toggle [(ngModel)]="features.breakfestIncluded" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Cafe</ion-label>
      <ion-toggle [(ngModel)]="features.cafe" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Foreign Languages</ion-label>
      <ion-toggle [(ngModel)]="features.languageTranslation" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Conference Services</ion-label>
      <ion-toggle [(ngModel)]="features.conferenceServices" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Lunch Included</ion-label>
      <ion-toggle [(ngModel)]="features.lunchIncluded" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>
</div>
