<ng-container *ngIf="showContentCollections">
  <ng-container *ngIf="!showContentCollectionsErr">
    <div class="card-background-page">
      <ion-card class="media-collection" (click)="viewCollections(item)" *ngFor="let item of collectionArr">
        <ion-fab right top (click)="deleteCollection(item,$event)" *ngIf="business.role == 1">
          <button ion-fab mini color="danger">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-fab>
        <img-loader [src]="item.images[0]?.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg
          *ngIf="item.images != null"></img-loader>
        <img src="./assets/img/thumb.jpg" onError="this.src='./assets/img/thumb.jpg'" *ngIf="item.images == null">
        <div class="card-title">{{item.title}}</div>
        <div class="card-subtitle" *ngIf="item.totalImages">{{item.totalImages}} Images</div>
        <div class="card-subtitle2" *ngIf="item.totalPrints">{{item.totalPrints}} Prints</div>
        <div class="card-subtitle3" *ngIf="item.totalVideos">{{item.totalVideos}} Videos</div>
        <div class="card-subtitle4" *ngIf="item.totalProducts">{{item.totalProducts}} Products</div>
      </ion-card>
    </div>
  </ng-container>
  <div class="myCardNotif" *ngIf="!showContentCollectionsErr && collectionArr.length < 1">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">No collections found!</p>
      <button ion-button small color="narnoo" (click)="createCollections()" [disabled]="!showContentCollections"
        *ngIf="action !== 'connect' && (business.role == 1 || business.role == 2)">Create Collection</button>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentCollectionsErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{collectionsContentErr.message}}</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!showContentCollections">
  <div class="noimage" *ngFor="let item of imagesLoadingArr">
    <skeleton-item height="220px" radius="2px"></skeleton-item>
  </div>
</ng-container>
