<ion-item no-lines *ngIf="showContent || showPostContent">
  <ion-avatar item-start>
    <img-loader [src]="business.avatar?.previewImage| linkHttp" fallback="'./assets/img/user.png'" useImg>
    </img-loader>
  </ion-avatar>
  <ion-input type="text" class="rounded_input" placeholder="Post a business shout out" disabled="true"
    (click)="checkFocus(false)"></ion-input>
  <ion-icon name="link" color="dark" item-end padding-left (click)="checkFocus(true)"></ion-icon>
</ion-item>
<ion-item no-lines *ngIf="!showPostContent">
  <ion-avatar item-start>
    <ion-avatar item-start>
      <skeleton-item height="36px" width="36px" rounded></skeleton-item>
    </ion-avatar>
  </ion-avatar>
  <skeleton-item height="42px" radius="8px"></skeleton-item>
</ion-item>
