logo-component{
  .custom-card {
    border-radius: 0px;

    .selected-image {
      background-color: white;
      display: block;
      opacity: .5;
    }

    .checkbox {
      position: absolute;
      display: inline-block;
      right: 5px;
      bottom: 5px;
    }

    .checkbox-disabled {
      opacity: 1 !important;
      pointer-events: none;
    }
  }

  ion-grid {
    ion-col {
      padding: 2px !important;
    }
  }
}
