<ion-header>
    <ion-navbar color="narnoo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="margin-right: 5px" (click)="viewNotifications()" *ngIf="business.role == 1">
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge id="cart-badge" color="danger" *ngIf="totalNotification > 0">{{totalNotification}}</ion-badge>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)" *ngIf="business.type == 1 && business.role == 1">
        <ion-icon name="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <div *ngIf="showContentProducts">
      <ion-list *ngIf="!showContentProductsErr && productArr.length > 0">
        <ion-item-sliding *ngFor="let item of productArr" #slidingItem>
          <button ion-item (click)="gotoDetails(item)" class="item-ribbon">
            <span class="ribbon javascript" *ngIf="item.primary">
              <span>PRIMARY</span>
            </span>
            <ion-thumbnail item-start>
              <img src="./assets/img/thumb.jpg" *ngIf="item.image == undefined">
              <img-loader [src]="item.image.thumbImage | linkHttp" fallback="./assets/img/thumb.jpg" useImg *ngIf="item.image !== undefined"></img-loader>
            </ion-thumbnail>
            <h2>{{item.title}}</h2>
            <p><b>ID:</b> {{item.productId}}</p>
          </button>
          <ion-item-options side="right"
            *ngIf="business.type == 1 && (business.role == 2 || business.role == 1) && action !== 'connect'">
            <button ion-button color="primary" (click)="updateProduct(item,slidingItem)">
              <ion-icon name="ios-create-outline"></ion-icon>
              Update
            </button>
            <button ion-button color="danger" (click)="deleteProduct(item,slidingItem)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="myCardNotif" *ngIf="showContentProductsErr">
        <div padding text-center>
          <img src="./assets/img/products.svg " />
          <p ion-text color="danger">{{productsContentErr.message}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!showContentProducts">
      <ion-list>
        <ion-item *ngFor="let item of fakeArr">
          <ion-avatar item-start>
            <skeleton-item height="50px" width="50px"></skeleton-item>
          </ion-avatar>
          <skeleton-item></skeleton-item>
          <skeleton-item height="8px" width="67%"></skeleton-item>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
  <ion-fab right bottom fixed #fab *ngIf="business.type == 1 && business.role == 1">
    <button ion-fab color="share1" (click)="createProduct()">
      <ion-icon name="ios-add-outline"></ion-icon>
    </button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
