<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>{{item.caption}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showLoading" *ngIf="(action !== 'connect' && action !== 'notif') && (business.role == 1) && !showError">
        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="showLoading" (click)="presentPopover($event)" *ngIf="!showError">
        <ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="fixing_grid">
    <div *ngIf="!showLoading">
      <div *ngIf="!showError">
        <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls preload="auto" data-setup='{}'>
          <source [src]="item.videoPreview | linkHttp" type="video/mp4">
        </video>
        <ion-list>
          <ion-item>
            <ion-row class="action-buttons">
              <ion-col text-center>
                <button ion-button icon-start clear small color="dark" (click)="presentActionSheet()" [disabled]="showLoading"
                  *ngIf="(action !== 'connect' && action != 'notif') && (business.role == 1)">
                  <ion-icon name="ios-create-outline"></ion-icon>
                  <div>Edit</div>
                </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button icon-start clear small block color="dark" (click)="shareNow()" [disabled]="!business.paid"
                  *ngIf="(action != 'connect' && action != 'notif') && (business.role == 1 || business.role == 2)">
                  <ion-icon name="share-alt"></ion-icon>
                  <div>Share</div>
                </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button icon-start clear small color="dark" (click)="downloadImage()" [disabled]="!business.paid">
                  <ion-icon name="md-download"></ion-icon>
                  <div>Download</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-divider color="narnoo">
            <b>Overview</b>
          </ion-item-divider>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Name</b>
              </ion-col>
              <ion-col col-8 text-wrap>
                <span class="caption">{{item.caption}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.language">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Language</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.language}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.uploadedAt">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Uploaded</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption"> {{item.uploadedAt | date: 'short'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.privilege">
            <ion-row>
              <ion-col col-4>
                <b ion-text color="narnoo">Privacy</b>
              </ion-col>
              <ion-col col-8>
                <span class="caption" ion-text color="primary">{{item.privilege | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
      <div class="myCardNotif" *ngIf="showError">
        <div padding text-center>
          <img src="./assets/img/error.png" />
          <p ion-text color="apperror">{{errContent}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showLoading">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-row margin-top>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
