<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="close($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Company Bio</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveEntry()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-item-divider color="light">{{item.language | uppercase}}</ion-item-divider>
      <jodit-editor [config]="textEditorConfig" [(ngModel)]="item.text"></jodit-editor>
      <ion-item *ngIf="action == 'create'">
        <ion-label>Size</ion-label>
        <ion-select [(ngModel)]="item.size" interface="action-sheet" placeholder="Size">
          <ion-option value="description">Description</ion-option>
          <ion-option value="summary">Summary</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="action == 'create'">
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="item.language" interface="action-sheet" placeholder="Type">
          <ion-option value="english">English</ion-option>
          <ion-option value="chinese" *ngIf="business.paid">Chinese</ion-option>
          <ion-option value="japanese" *ngIf="business.paid">Japanese</ion-option>
          <ion-option value="korean" *ngIf="business.paid">Korean</ion-option>
          <ion-option value="german" *ngIf="business.paid">German</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="saveEntry()">Save</button>
  </ion-toolbar>
</ion-footer> -->
