<ion-card class="info">
  <ion-card-header *ngIf="product.description !== null">
    <h2 ion-text color="primary">Product Description</h2>
  </ion-card-header>
  <ion-list *ngIf="newDescriptionArr && newDescriptionArr.length > 0">
    <div *ngFor="let item of newDescriptionArr">
      <ion-item-divider color="light" (click)="expandSummaryItem(item)">
        {{item.key | uppercase}}
        <div item-end>
          <ion-icon name="ios-arrow-down-outline" *ngIf="!item.expanded"></ion-icon>
          <ion-icon name="ios-arrow-up-outline" *ngIf="item.expanded"></ion-icon>
        </div>
      </ion-item-divider>
      <div text-wrap padding *ngIf="item.expanded">
        <span [innerHTML]="item.value.text"></span>
      </div>
    </div>
  </ion-list>
</ion-card>
<ion-card class="info">
  <ion-card-header *ngIf="product.additionalInformation">
    <h2 ion-text color="primary">Additional Information</h2>
  </ion-card-header>
  <ion-card-content *ngIf="product.additionalInformation">
    <div *ngIf="product.additionalInformation.operatingHours">
      <ion-list-header>
        Product Duration Time
      </ion-list-header>
      <ion-item>
        <p>Duration time (Hrs)</p>
        <p item-end>{{product.additionalInformation?.operatingHours}}</p>
      </ion-item>
    </div>
    <div *ngIf="product.additionalInformation?.startTime || product.additionalInformation?.endTime">
      <ion-list-header>
        Product Operational Time
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-time-outline" item-start></ion-icon>
        <p>START TIME: <b>{{product.additionalInformation?.startTime}}</b></p>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-time-outline" item-start></ion-icon>
        <p>END TIME: <b>{{product.additionalInformation?.endTime}}</b></p>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>
<ion-card class="info">
  <div *ngIf="product.additionalInformation?.transfer">
    <ion-card-header>
      <h2 ion-text color="primary">Transfer</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.transfer"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.purchases">
    <ion-card-header>
      <h2 ion-text color="primary">Purchases</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.purchases"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.fitness">
    <ion-card-header>
      <h2 ion-text color="primary">Fitness</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.fitness"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.packing">
    <ion-card-header>
      <h2 ion-text color="primary">Packing</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.packing"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.child">
    <ion-card-header>
      <h2 ion-text color="primary">Children</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.child"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.additional">
    <ion-card-header>
      <h2 ion-text color="primary">Additional Information</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.additional"></p>
    </ion-card-content>
  </div>
  <div *ngIf="product.additionalInformation?.terms">
    <ion-card-header>
      <h2 ion-text color="primary">Terms</h2>
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="product.additionalInformation?.terms"></p>
    </ion-card-content>
  </div>
</ion-card>
<ion-card class="info" *ngIf="product.featureImage">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Image</h2>
  </ion-card-header>
  <ion-card-content>
    <!-- <div class="progressive-image" (click)="viewImageDetail(product.featureImage)">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featureImage.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featureImage.largeImage | linkHttp">
      </div>
      <div class="overlay"></div>
    </div> -->
    <img-loader [src]="product.featureImage.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg (click)="viewImageDetail(product.featureImage)"></img-loader>
  </ion-card-content>
</ion-card>
<ion-card class="info" *ngIf="product.featureLogo">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Logo</h2>
  </ion-card-header>
  <ion-card-content>
    <!-- <div class="progressive-image" (click)="viewLogoDetail(product.featureLogo)">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featureLogo.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featureLogo.largeImage | linkHttp">
      </div>
      <div class="overlay"></div>
    </div> -->
    <img-loader [src]="product.featureLogo.image400 | linkHttp" fallback="./assets/img/thumb.jpg" useImg (click)="viewImageDetail(product.featureLogo)"></img-loader>
  </ion-card-content>
</ion-card>
<ion-card class="info" *ngIf="product.featurePrint">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Brochure</h2>
  </ion-card-header>
  <ion-card-content>
    <!-- <div class="progressive-image" (click)="viewPrintDetail(product.featurePrint)">
      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (product.featurePrint.previewImage | linkHttp) + ')'}" [attr.data-image]="product.featurePrint.previewImage  | linkHttp">
      </div>
      <div class="overlay"></div>
    </div> -->
    <img-loader [src]="product.featurePrint.previewImage | linkHttp" fallback="./assets/img/thumb.jpg" useImg (click)="viewImageDetail(product.featurePrint)"></img-loader>
  </ion-card-content>
</ion-card>
<ion-card class="info" *ngIf="product.featureVideo">
  <ion-card-header>
    <h2 ion-text color="primary">Featured Video</h2>
  </ion-card-header>
  <ion-card-content>
    <video #media class="video-js vjs-big-play-centered" id="singleVideo" (click)="viewVideoDetail(product.featureVideo)" controls preload="auto" data-setup='{}' [poster]="product.featureVideo.previewImage | linkHttp">
      <source [src]="product.featureVideo.videoPreview | linkHttp" type="video/mp4" />
      <source [src]="product.featureVideo.streamWebm | linkHttp" type="video/webm">
    </video>
  </ion-card-content>
</ion-card>
