<ion-list *ngIf="showContent">
  <ion-item-divider color="light" *ngIf="summaryArr.length > 0">Summary</ion-item-divider>
  <div *ngIf="!showContentErr">
    <div *ngFor="let item of summaryArr">
      <div *ngIf="item.paid">
        <ion-item tappable (click)="selectSummary(item)">
          <h2>{{item.language | uppercase}}</h2>
          <ion-icon name="ios-arrow-up" *ngIf="item.selected" item-end></ion-icon>
          <ion-icon name="ios-arrow-down" *ngIf="!item.selected" item-end></ion-icon>
        </ion-item>
        <div text-wrap padding *ngIf="item.selected">
          <span [innerHtml]="item.text"></span>
        </div>
        <ion-row *ngIf="item.selected">
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col *ngIf="action !== 'connect' && business.role == 1">
            <button ion-button icon-left clear small (click)="updateBio(item,'summary')">
              <ion-icon name="ios-create-outline"></ion-icon>
              <div>Update</div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-item-divider color="light" *ngIf="descriptionArr.length > 0">Description</ion-item-divider>
    <div *ngFor="let item of descriptionArr">
      <div *ngIf="item.paid">
        <ion-item tappable (click)="selectDescription(item)">
          <h2>{{item.language | uppercase}}</h2>
          <ion-icon name="ios-arrow-up" *ngIf="item.selected" item-end></ion-icon>
          <ion-icon name="ios-arrow-down" *ngIf="!item.selected" item-end></ion-icon>
        </ion-item>
        <div text-wrap padding *ngIf="item.selected">
          <span [innerHtml]="item.text"></span>
        </div>
        <ion-row *ngIf="item.selected">
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col *ngIf="action !== 'connect' && business.role == 1">
            <button ion-button icon-left clear small (click)="updateBio(item,'description')">
              <ion-icon name="ios-create-outline"></ion-icon>
              <div>Update</div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{contentErr.message}}</p>
    </div>
  </div>
</ion-list>
<ion-list *ngIf="!showContent">
  <ion-item *ngFor='let fake of imagesLoadingArr' class='fakeItem'>
    <skeleton-item height="24px"></skeleton-item>
    <skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></skeleton-item>
  </ion-item>
</ion-list>
