card-shout {
  .card-shout {
    // background: rgba(52, 73, 94, .9);
    background: #222;
    margin: 0;
    width: 100%;
    border-radius: 0px;

    ion-card-content {
      padding: 8rem 4rem;

      p {
        color: #fff !important;
      }
    }
  }

  .item ion-thumbnail ion-img,
  .item ion-thumbnail img {
    width: 100px;
    height: 100px;
  }

}
