<ion-card class="card-feed">
  <ion-item no-lines text-wrap>
    <ion-avatar item-start>
      <img-loader [src]="avatar.thumbImage | linkHttp" fallback="'./assets/img/user.png'" useImg>
      </img-loader>
    </ion-avatar>
    <h2><b>{{item.businessName}}</b></h2>
    <p><small>{{item.timestamp | timesago}}</small></p>
    <ion-icon name="ios-more" item-end (click)="moreAction(item.itemType,item)"></ion-icon>
  </ion-item>
  <ion-item *ngIf="item.itemType != 'following' && item.itemType != 'joined'" text-wrap>
    <p><small>{{item.statement}}</small></p>
  </ion-item>
  <ion-card class="card-shout">
    <ion-card-content text-center text-wrap>
      <p style="font-size: 2rem;"><b>{{media.message}}</b></p>
    </ion-card-content>
  </ion-card>
  <ion-item no-lines text-wrap *ngIf="external" (click)="viewExternalLink(media)">
    <ion-thumbnail item-start *ngIf="external.image != null">
      <img-loader [src]="external?.image | linkHttp" fallback="./assets/img/thumb.jpg" useImg>
      </img-loader>
    </ion-thumbnail>
    <h2><b>{{external.title}}</b></h2>
    <p *ngIf="external.description != null">{{external.description}}</p>
  </ion-item>
  <ion-row justify-content-start class="feed-actions">
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="moreAction(item.itemType,item)">
        <ion-icon name="ios-menu"></ion-icon>
        <div>More</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="downloadImage(item)"
        [disabled]="item.disableDownload">
        <ion-icon name="ios-cloud-download-outline"></ion-icon>
        <div>Download</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="dark" (click)="shareActivity(item)"
        [disabled]="item.disableShare">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
