<ion-header>
  <ion-navbar color="narnoo">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end *ngIf="action != 'more'">
      <button ion-button icon-only *ngIf="business.type === 1 && (business.role == 1 || business.role == 2)">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="business.type === 1 && (business.role == 1 || business.role == 2)">
        <ion-icon name="ios-more-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <!--
    ================================================================================
    ================================================================================
    ================================================================================
     -->
    <div *ngIf="action !='more'">
      <div *ngIf="showContent">
        <ion-list>
          <ion-item *ngFor="let item of albumsArr" tappable (click)="viewAlbumImages(item)">
            <ion-thumbnail item-start>
              <img [src]="item.images[0]?.image200 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
            </ion-thumbnail>
            <h2>{{item.title}}</h2>
            <p>{{item.imageCount}} images</p>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="!showContent">
        <ion-list>
          <ion-item *ngFor="let item of fakeArr">
            <ion-thumbnail item-start>
              <skeleton-item height="50px" width="50px"></skeleton-item>
            </ion-thumbnail>
            <skeleton-item></skeleton-item>
            <skeleton-item height="8px" width="67%"></skeleton-item>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!--
    ================================================================================
    ================================================================================
    ================================================================================
     -->
    <div *ngIf="action =='more'">
      <ion-grid *ngIf="showContent">
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let row of imagesArr" (click)="viewImageDetail(row)">
            <img [src]="row.image200 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
            <ion-checkbox [checked]="row.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row *ngIf="!showContent">
        <ion-col class="noimage" col-6 col-md-4 col-xl-3 *ngFor="let item of fakeArr">
            <skeleton-item height="120px" radius="2px"></skeleton-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
