<ion-header>
    <ion-navbar color="narnoo">
    <ion-buttons left>
      <button ion-button icon-only (click)="close($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Collection Entry</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="saveEntry()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <form [formGroup]="collectionForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Title</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.title.errors">
          <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.title.errors" class="help-block" text-wrap>
          <div *ngIf="f.title.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Collection Title is required.
          </div>
        </div>
        <ion-item no-lines *ngIf="action == 'update'">
          <ion-label>Description</ion-label>
        </ion-item>
        <ion-item *ngIf="action == 'update'">
          <ion-input type="text" formControlName="description" placeholder="Description"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Privacy</ion-label>
        </ion-item>
        <ion-item [class.invalid]="submitted && f.privacy.errors">
          <ion-select formControlName="privacy" placeholder="Privacy" interface="action-sheet">
            <ion-option value="public">Public</ion-option>
            <ion-option value="trade">Trade</ion-option>
            <ion-option value="media">Media</ion-option>
            <ion-option value="private">Private</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.privacy.errors" class="help-block" text-wrap>
          <div *ngIf="f.privacy.errors.required">
            <ion-icon name="md-alert" item-start color="warning"></ion-icon> Collection Privacy is required.
          </div>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="saveEntry()">SAVE</button>
  </ion-toolbar>
</ion-footer> -->
