page-activity-detail {
	ion-card.info {
        padding-top: 10px;
        border: none !important;
        box-shadow: none !important;
        position: relative;
        text-align: center; // border-bottom: 2px solid #ddd;
        .card-title {
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #757373;
        }
        .card-subtitle {
            font-size: 1.0em;
            top: 52%;
            width: 100%;
            color: #757373;
        }
        img {
            margin: 0 auto;
            height: auto; // width: 70px;
            padding-bottom: 30px;
        }
        ion-label {
            margin: 0 !important;
        }
        .caption {
            font-size: 1.5rem;
            font-weight: 400;
            color: #488aff;
        }
    }
}
