<ion-header>
  <ion-navbar color="narnoo">
    <ion-title>{{item.caption}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()" [disabled]="showLoading">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="downloadFile()" [disabled]="showLoading">
        <ion-icon name="ios-cloud-download-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <div *ngIf="!showLoading">
      <ion-card class="info">
        <div text-center class="profileimage">
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
          <div class="progressive-image" *ngIf="type=='brochure'">
            <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.media.thumb_image_path | linkHttp) + ')'}"
              [attr.data-image]="item.media.preview_image_path | linkHttp">
            </div>
            <div class="overlay" imageViewer="{{item.media.preview_image_path | linkHttp}}"></div>
          </div>
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
          <div class="progressive-image" *ngIf="type=='image'">
            <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.media.image400 | linkHttp) + ')'}"
              [attr.data-image]="item.media.xxlargeImage | linkHttp">
            </div>
            <div class="overlay" imageViewer="{{item.media.xxlargeImage | linkHttp}}"></div>
          </div>
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
          <div *ngIf="type=='video'">
            <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls playsinline looped preload="auto"
              data-setup='{}' [poster]="item.media.image800 | linkHttp">
              <source [src]="item.media.streamMP4 | linkHttp" type="video/mp4">
              <source [src]="item.media.streamWebm | linkHttp" type="video/webm">
            </video>
          </div>
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
          <div class="progressive-image" *ngIf="type=='logo'">
            <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.media.image400 | linkHttp) + ')'}"
              [attr.data-image]="item.media.largeImage | linkHttp">
            </div>
            <div class="overlay" imageViewer="{{item.media.largeImage | linkHttp}}"></div>
          </div>
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
          <div *ngIf="type == 'album'">
            <ion-grid>
              <ion-row>
                <ion-col col-4 col-md-4 col-xl-4 *ngFor="let row of item.media.images" imageViewer="{{row.largeImage | linkHttp}}">
                  <img [src]="row.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        </div>
      </ion-card>
      <ion-card class="info">
        <ion-card-header>
          Information
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Name
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.businessName}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col col-4>
                Media Type
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.itemType | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.caption">
            <ion-row>
              <ion-col col-4>
                Caption
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.caption | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.format">
            <ion-row>
              <ion-col col-4>
                Format
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.format | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="item.imageSize">
            <ion-row>
              <ion-col col-4>
                Size
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{item.imageSize | fileSize}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.orientation">
            <ion-row>
              <ion-col col-4>
                Orientation
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.orientation | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.imageHeight && details.imageWidth">
            <ion-row>
              <ion-col col-4>
                Dimension
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.imageHeight}}px X {{details.imageWidth}}px</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.type">
            <ion-row>
              <ion-col col-4>
                Type
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.type | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.size">
            <ion-row>
              <ion-col col-4>
                Size
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.size | fileSize}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.validityDate">
            <ion-row>
              <ion-col col-4>
                Validity
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.validityDate | date: 'MM.dd.yyyy'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.privilege">
            <ion-row>
              <ion-col col-4>
                Privacy
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.privilege | uppercase}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item *ngIf="details.uploadedAt">
            <ion-row>
              <ion-col col-4>
                Date Upload
              </ion-col>
              <ion-col col-8>
                <span class="caption">{{details.uploadedAt | date: 'MM.dd.yyyy'}}</span>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div *ngIf="showLoading">
      <skeleton-item height="320px" no-animated></skeleton-item>
      <ion-row margin-top>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
        <ion-col>
          <skeleton-item height="60px"></skeleton-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        <skeleton-item width="27%"></skeleton-item>
      </ion-item-divider>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col col-4>
            <skeleton-item width="37%"></skeleton-item>
          </ion-col>
          <ion-col col-8 text-wrap>
            <span class="caption">
              <skeleton-item width="67%"></skeleton-item>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
