<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Creators Entry</ion-title>
    <ion-buttons right>
      <!-- <button ion-button icon-only (click)="unlinkCreator()">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button> -->
       <button ion-button clear (click)="saveEntry()" color="primary">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-item>
        <ion-label stacked>Type</ion-label>
        <ion-select [(ngModel)]="creator.type">
          <ion-option value="photographer">Photographer</ion-option>
          <ion-option value="videographer">Videographer</ion-option>
          <ion-option value="illustrator">Illustrator</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>First Name <span ion-text color="danger">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="creator.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name <span ion-text color="danger">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="creator.lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email <span ion-text color="danger">*</span></ion-label>
        <ion-input type="email" [(ngModel)]="creator.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone </ion-label>
        <ion-input type="text" [(ngModel)]="creator.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Postcode </ion-label>
        <ion-input type="number" [(ngModel)]="creator.postcode"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
    	<ion-row>
    		<ion-col col-6>
    			<button ion-button block small outline color="facebook">Facebook</button>
    		</ion-col>
    		<ion-col col-6>
    			<button ion-button block small outline color="twitter">Twitter</button>
    		</ion-col>
    		<ion-col col-6>
    			<button ion-button block small outline color="instagram">Instagram</button>
    		</ion-col>
    		<ion-col col-6>
    			<button ion-button block small outline color="flickr">Flickr</button>
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button full (click)="saveEntry()">SAVE</button>
  </ion-toolbar>
</ion-footer> -->
