<ng-container *ngIf="showContentVideos">
  <ion-grid *ngIf="!showContentVideosErr">
    <ion-row class="card-background-page">
      <ion-col col-4 *ngFor="let item of videosArr">
        <div class="custom-card" (click)="viewVideoDetail(item)">
          <img-loader [src]="item.image200 | linkHttp" fallback="./assets/img/thumb.jpg"
            [ngClass]="{'selected-image': item.selected}" useImg>
          </img-loader>
          <ion-checkbox [checked]="item.selected" *ngIf="showCheckbox" [disabled]="showCheckbox"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myCardNotif" *ngIf="!showContentVideosErr && videosArr.length < 1">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">No videos found!</p>
      <button ion-button small color="narnoo" (click)="uploadFile()" [disabled]="!showContentVideos"
        *ngIf="action !== 'connect' && (business.role == 1 || business.role == 2)">Add Videos</button>
    </div>
  </div>
  <div class="myCardNotif" *ngIf="showContentVideosErr">
    <div padding text-center>
      <img src="./assets/img/error.png" />
      <p ion-text color="apperror">{{videosContentErr.message}}</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!showContentVideos">
  <ion-grid>
    <ion-row>
      <ion-col class="noimage" col-4 *ngFor="let item of imagesLoadingArr">
        <skeleton-item height="85px" width="114px" radius="2px"></skeleton-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
