<ion-header>
    <ion-navbar color="narnoo">
    <ion-title>Company Bio</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-list *ngIf="!showLoading">
      <ion-item-divider color="light">Summary</ion-item-divider>
      <div *ngFor="let item of summaryArr">
        <ion-item tappable (click)="selectSummary(item)">
          <h2>{{item.language | uppercase}}</h2>
          <ion-icon name="ios-arrow-up" *ngIf="item.selected" item-end></ion-icon>
          <ion-icon name="ios-arrow-down" *ngIf="!item.selected" item-end></ion-icon>
        </ion-item>
        <div text-wrap padding *ngIf="item.selected">
          <span [innerHtml]="item.text"></span>
        </div>
        <ion-row *ngIf="item.selected">
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="updateBio(item,'summary')" *ngIf="business.type === 1 && (business.role == 1 || business.role == 2)">
              <ion-icon name="ios-create-outline"></ion-icon>
              <div>Update</div>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item-divider color="light">Description</ion-item-divider>
      <div *ngFor="let item of descriptionArr">
        <ion-item tappable (click)="selectDescription(item)">
          <h2>{{item.language | uppercase}}</h2>
          <ion-icon name="ios-arrow-up" *ngIf="item.selected" item-end></ion-icon>
          <ion-icon name="ios-arrow-down" *ngIf="!item.selected" item-end></ion-icon>
        </ion-item>
        <div text-wrap padding *ngIf="item.selected">
          <span [innerHtml]="item.text"></span>
        </div>
        <ion-row *ngIf="item.selected">
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="updateBio(item,'description')" *ngIf="business.type === 1 && (business.role == 1 || business.role == 2) && business.paid">
              <ion-icon name="ios-create-outline"></ion-icon>
              <div>Update</div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-list *ngIf="showLoading">
      <ion-item *ngFor='let fake of imagesLoadingArr' class='fakeItem'>
        <h2></h2>
        <p></p>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
